@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url("https://cdn.jsdelivr.net/gh/leetaewook/gmarket-sans-dynamic-subset/GmarketSans.css");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, etails, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button, hr {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: inherit; }

main, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, hr {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.visible-sm {
  display: none !important; }
  @media (max-width: 1024px) {
    .visible-sm {
      display: block !important; } }

.visible-lg {
  display: block !important; }
  @media (max-width: 1024px) {
    .visible-lg {
      display: none !important; } }

body {
  min-width: 360px;
  width: 100%;
  font-size: 16px;
  color: #555;
  line-height: 1;
  font-weight: 400;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  word-break: break-all;
  box-sizing: border-box; }
  body *, body *::before, body *::after {
    box-sizing: border-box; }

input, select, textarea {
  font-family: inherit;
  outline: none;
  resize: none; }

a, button {
  color: #000;
  border: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  background: none; }
  a:hover, button:hover {
    color: #000; }

.container {
  display: block;
  width: 100%;
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto; }

.container-fluid {
  display: block;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto; }

/* header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  padding: 20px 0;
  background-color: #fff; }
  #header .container {
    position: relative; }
    #header .container .logo-area {
      font-size: 0; }
      #header .container .logo-area .logo {
        display: inline-block;
        vertical-align: top; }
        #header .container .logo-area .logo a {
          display: block; }
          #header .container .logo-area .logo a img {
            display: block;
            max-width: 100%; }
      #header .container .logo-area .info {
        display: inline-block;
        vertical-align: top;
        padding-left: 10px;
        padding-top: 2px; }
        #header .container .logo-area .info p {
          font-size: 12px;
          font-weight: 400;
          color: #051BD0;
          letter-spacing: .5px;
          line-height: 14px;
          font-family: 'Gmarket Sans'; }
    #header .container .btn-area {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%); }
      #header .container .btn-area .btn-nav {
        position: relative;
        display: block;
        width: 30px;
        height: 30px; }
        #header .container .btn-area .btn-nav .bar {
          display: block;
          width: 100%;
          height: 3px;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s;
          background-color: #051BD0; }
          #header .container .btn-area .btn-nav .bar ~ .bar {
            margin-top: 9px; }
  @media (max-width: 768px) {
    #header {
      padding: 19px 0; }
      #header .container .logo-area .logo > a img {
        width: 102px; }
      #header .container .logo-area .info {
        display: none; }
      #header .container .btn-area .btn-nav .bar ~ .bar {
        margin-top: 6px; } }

/* nav */
#nav {
  position: fixed;
  bottom: -100%;
  /*bottom: 0;*/
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }
  #nav .container {
    display: table;
    width: 100%;
    height: 100vh;
    table-layout: fixed; }
    #nav .container .nav-inner {
      display: table-cell;
      vertical-align: middle; }
      #nav .container .nav-inner .gnb {
        width: 1172px;
        height: 513px;
        margin: 0 auto;
        padding: 85px 295px 0;
        background-image: url(../images/bg_nav_lg.png);
        background-repeat: no-repeat;
        background-size: auto auto;
        background-position: 50% 50%; }
        #nav .container .nav-inner .gnb .gnb-header {
          position: relative;
          width: 100%; }
          #nav .container .nav-inner .gnb .gnb-header h3 {
            font-size: 24px;
            color: #051BD0;
            font-weight: bold;
            line-height: 34px;
            letter-spacing: 4.8px; }
          #nav .container .nav-inner .gnb .gnb-header .btn-area {
            position: absolute;
            top: 50%;
            right: -50px;
            transform: translateY(-50%); }
            #nav .container .nav-inner .gnb .gnb-header .btn-area .btn-nav-close {
              display: block;
              font-size: 0; }
              #nav .container .nav-inner .gnb .gnb-header .btn-area .btn-nav-close img {
                display: block;
                max-width: 100%; }
        #nav .container .nav-inner .gnb .gnb-list {
          display: table;
          width: 100%;
          margin-top: 22px;
          table-layout: fixed; }
          #nav .container .nav-inner .gnb .gnb-list > ul {
            display: table-cell;
            vertical-align: top; }
            #nav .container .nav-inner .gnb .gnb-list > ul > li > a {
              display: block; }
              #nav .container .nav-inner .gnb .gnb-list > ul > li > a b {
                position: relative;
                display: inline-block;
                font-size: 16px;
                color: #051BD0;
                font-weight: 700; }
                #nav .container .nav-inner .gnb .gnb-list > ul > li > a b:after {
                  position: absolute;
                  bottom: -2px;
                  right: 0;
                  width: 0;
                  height: 2px;
                  content: '';
                  display: block;
                  background-color: #051BD0;
                  -webkit-transition-property: all;
                  transition-property: all;
                  -webkit-transition-duration: 0.15s;
                  transition-duration: 0.15s;
                  -webkit-transition-timing-function: linear;
                  transition-timing-function: linear;
                  -webkit-transition-delay: 0s;
                  transition-delay: 0s; }
              #nav .container .nav-inner .gnb .gnb-list > ul > li > a p {
                overflow: hidden;
                display: block;
                color: #000;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: -0.28px;
                text-overflow: ellipsis;
                white-space: nowrap;
                margin-top: 7px; }
              #nav .container .nav-inner .gnb .gnb-list > ul > li > a:hover b:after {
                width: 100%;
                left: 0; }
            #nav .container .nav-inner .gnb .gnb-list > ul > li ~ li {
              margin-top: 18px; }
            #nav .container .nav-inner .gnb .gnb-list > ul:first-child {
              padding-right: 20px; }
            #nav .container .nav-inner .gnb .gnb-list > ul:last-child {
              padding-left: 20px; }
      #nav .container .nav-inner .sns-list {
        text-align: center;
        margin-top: 30px; }
        #nav .container .nav-inner .sns-list > ul {
          font-size: 0; }
          #nav .container .nav-inner .sns-list > ul > li {
            display: inline-block;
            vertical-align: top;
            margin: 0 5px; }
            #nav .container .nav-inner .sns-list > ul > li > a {
              display: block; }
              #nav .container .nav-inner .sns-list > ul > li > a img {
                display: block;
                max-width: 100%; }
  @media (max-width: 1350px) {
    #nav .container .nav-inner .gnb {
      max-width: 960px;
      width: 960px;
      height: 420px;
      padding: 40px 220px 0;
      background-size: 960px auto; } }
  @media (max-width: 1024px) {
    #nav > .btn-area {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 1; }
      #nav > .btn-area .btn-nav-close {
        display: block; }
        #nav > .btn-area .btn-nav-close img {
          display: block;
          max-width: 100%; }
    #nav .container {
      position: relative; }
      #nav .container .nav-inner {
        padding-top: 50px; }
        #nav .container .nav-inner .gnb {
          width: 100%;
          height: 500px;
          padding: 0;
          padding-bottom: 30px;
          background: none;
          border-radius: 30px;
          background-color: #fff; }
          #nav .container .nav-inner .gnb .gnb-header {
            position: relative;
            padding: 34px 30px 15px; }
            #nav .container .nav-inner .gnb .gnb-header > figure {
              position: absolute;
              bottom: -10px;
              right: 20px; }
              #nav .container .nav-inner .gnb .gnb-header > figure img {
                display: block;
                max-width: 100%; }
          #nav .container .nav-inner .gnb .gnb-list {
            overflow-y: auto;
            display: block;
            height: 380px;
            padding: 0 30px 15px;
            margin-top: 0; }
            #nav .container .nav-inner .gnb .gnb-list::-webkit-scrollbar {
              width: 6px;
              transform: translateY(-30px);
              border-radius: 100px;
              background-color: #D9D9D9; }
            #nav .container .nav-inner .gnb .gnb-list::-webkit-scrollbar-thumb {
              border-radius: 100px;
              background-color: #051BD0; }
            #nav .container .nav-inner .gnb .gnb-list > ul {
              display: block;
              padding: 0 !important; }
              #nav .container .nav-inner .gnb .gnb-list > ul > li {
                padding: 10px 0;
                border-bottom: 1px solid #E3E3E3; }
                #nav .container .nav-inner .gnb .gnb-list > ul > li ~ li {
                  margin-top: 0; }
              #nav .container .nav-inner .gnb .gnb-list > ul:last-child > li:last-child {
                border-bottom: 0; }
        #nav .container .nav-inner .sns-list {
          margin-top: 20px; } }

.nav-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
  background-color: rgba(0, 0, 0, 0.7); }

body.nav-opened {
  overflow: hidden; }
  body.nav-opened #nav {
    bottom: 0; }
  body.nav-opened .nav-backdrop {
    display: block; }

/* footer */
#footer {
  text-align: center;
  padding: 60px 0 70px;
  background-color: #313131; }
  #footer .container .logo {
    display: inline-block;
    font-size: 0;
    vertical-align: top; }
    #footer .container .logo img {
      display: block;
      max-width: 100%; }
  #footer .container .sns-list {
    margin-top: 30px; }
    #footer .container .sns-list > ul {
      font-size: 0; }
      #footer .container .sns-list > ul > li {
        display: inline-block;
        vertical-align: top;
        margin: 0 5px; }
        #footer .container .sns-list > ul > li > a {
          display: block; }
          #footer .container .sns-list > ul > li > a img {
            display: block;
            max-width: 100%; }
  #footer .container .company-info {
    margin-top: 30px;
    display: block;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: -1.04px; }
    #footer .container .company-info address {
      font-style: normal; }
  @media (max-width: 1024px) {
    #footer {
      padding: 55px 0 65px; }
      #footer .container .logo {
        width: 240px; }
      #footer .container .company-info {
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: -.5px; } }

body {
  /*&.scrolled {
      #header {
          @include transition();
          box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
      }
  }*/ }
  @media (max-width: 1024px) {
    body {
      padding-top: 60px; } }

#header {
  border-bottom: 1px solid #eee; }

/********************************************************************************
    default end
********************************************************************************/
#content {
  overflow-x: hidden; }

/* jumbo-lg */
.jumbotron .section-header {
  color: #051BD0;
  font-family: "IBM Plex Sans KR", sans-serif;
  padding-top: 120px;
  text-align: center; }
  .jumbotron .section-header p {
    position: relative;
    left: 100%;
    opacity: 0;
    display: block;
    font-size: 20px;
    font-weight: 500;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.9s;
    transition-duration: 0.9s;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }
  .jumbotron .section-header b {
    position: relative;
    left: 100%;
    opacity: 0;
    display: block;
    font-size: 30px;
    font-weight: 900;
    margin-top: 15px;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.9s;
    transition-duration: 0.9s;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s; }
.jumbotron.show .section-header p {
  left: 0;
  opacity: 1; }
.jumbotron.show .section-header b {
  left: 0;
  opacity: 1; }
@media (max-width: 768px) {
  .jumbotron .section-header {
    padding: 60px 0 30px; }
    .jumbotron .section-header p {
      font-size: 18px;
      line-height: 26px; }
    .jumbotron .section-header b {
      font-size: 26px;
      line-height: 36px; } }

.jumbo-lg {
  position: relative;
  height: 100vh;
  overflow: hidden; }
  .jumbo-lg .container-fluid .circle-stage {
    position: absolute;
    opacity: 0;
    top: 83%;
    left: 50%;
    width: 1800px;
    height: 1800px;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 1.3s;
    transition-delay: 1.3s;
    transform: translateX(-50%); }
    .jumbo-lg .container-fluid .circle-stage .card-wrap {
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      transform-origin: 50% 50%;
      will-change: transform; }
      .jumbo-lg .container-fluid .circle-stage .card-wrap > li {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 320px; }
        .jumbo-lg .container-fluid .circle-stage .card-wrap > li > a {
          position: relative;
          overflow: hidden;
          display: block;
          border-radius: 20px; }
          .jumbo-lg .container-fluid .circle-stage .card-wrap > li > a > figure {
            overflow: hidden;
            object-fit: cover; }
            .jumbo-lg .container-fluid .circle-stage .card-wrap > li > a > figure img {
              display: block;
              width: 100%;
              object-fit: cover; }
          .jumbo-lg .container-fluid .circle-stage .card-wrap > li > a .details {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s;
            background-color: rgba(5, 27, 208, 0.6); }
            .jumbo-lg .container-fluid .circle-stage .card-wrap > li > a .details .inner {
              display: table;
              width: 100%;
              height: 100%;
              text-align: center;
              table-layout: fixed; }
              .jumbo-lg .container-fluid .circle-stage .card-wrap > li > a .details .inner .box {
                display: table-cell;
                vertical-align: bottom;
                padding-bottom: 40px; }
                .jumbo-lg .container-fluid .circle-stage .card-wrap > li > a .details .inner .box b {
                  position: absolute;
                  top: 30px;
                  left: 50%;
                  width: 100%;
                  font-size: 24px;
                  color: #fff;
                  font-family: "IBM Plex Mono", monospace;
                  font-weight: 500;
                  transform: translateX(-50%);
                  letter-spacing: -.5px; }
                .jumbo-lg .container-fluid .circle-stage .card-wrap > li > a .details .inner .box img {
                  display: block;
                  margin: 0 auto;
                  max-width: 100%; }
                .jumbo-lg .container-fluid .circle-stage .card-wrap > li > a .details .inner .box p {
                  font-size: 18px;
                  color: #fff;
                  font-family: "IBM Plex Sans KR", sans-serif;
                  font-weight: 700;
                  line-height: 30px;
                  margin-top: 55px; }
          .jumbo-lg .container-fluid .circle-stage .card-wrap > li > a:hover .details {
            opacity: 1; }
  @media (max-width: 768px) {
    .jumbo-lg {
      display: none; } }
  .jumbo-lg.show .container-fluid .circle-stage {
    top: 80%;
    opacity: 1; }

.jumbo-sm {
  display: none; }
  @media (max-width: 768px) {
    .jumbo-sm {
      display: block; } }

@keyframes swipe {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(-100%); } }
/* message-list */
.message-list {
  overflow: hidden; }
  .message-list .container > dl {
    overflow: hidden;
    display: table;
    width: 100%;
    border-radius: 200px;
    table-layout: fixed;
    background-color: #E4F4FF; }
    .message-list .container > dl dt, .message-list .container > dl dd {
      display: table-cell;
      vertical-align: middle; }
    .message-list .container > dl dt {
      position: relative;
      width: 220px;
      z-index: 1;
      font-size: 20px;
      font-family: "IBM Plex Sans KR", sans-serif;
      color: #000;
      font-weight: 500;
      letter-spacing: -0.4px;
      line-height: 56px;
      padding-left: 50px;
      background-color: #E4F4FF; }
      .message-list .container > dl dt > img {
        position: absolute;
        top: 50%;
        left: 20px;
        display: block;
        max-width: 100%;
        transform: translateY(-50%); }
      .message-list .container > dl dt:after {
        position: absolute;
        top: 50%;
        right: 14px;
        width: 2px;
        height: 16px;
        content: '';
        display: block;
        background-color: #000;
        border-radius: 100px;
        transform: translateY(-50%); }
    .message-list .container > dl dd {
      overflow: hidden;
      font-size: 0;
      white-space: nowrap; }
      .message-list .container > dl dd span {
        display: inline-block;
        vertical-align: top;
        font-size: 20px;
        font-family: "IBM Plex Sans KR", sans-serif;
        color: #000;
        font-weight: 500;
        letter-spacing: -0.4px;
        line-height: 56px;
        animation: swipe 360s linear infinite; }

/* accordion-list */
.accordion-list {
  padding: 66px 0 100px; }
  .accordion-list .container .accordion {
    border-bottom: 1px solid #000; }
    .accordion-list .container .accordion > li {
      border-top: 1px solid #000; }
      .accordion-list .container .accordion > li > .btn-accordion {
        position: relative;
        display: block;
        padding-right: 55px; }
        .accordion-list .container .accordion > li > .btn-accordion:after {
          position: absolute;
          top: 50%;
          right: 15px;
          width: 30px;
          height: 35px;
          content: '';
          transform: translateY(-50%);
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s;
          background-image: url(../images/main2/ico_accordion_arrow.png);
          background-repeat: no-repeat;
          background-position: 0 50%;
          background-size: auto auto; }
        .accordion-list .container .accordion > li > .btn-accordion > .title-area {
          display: table;
          width: 100%;
          color: #000;
          table-layout: fixed; }
          .accordion-list .container .accordion > li > .btn-accordion > .title-area > div {
            display: table-cell;
            vertical-align: middle;
            height: 78px; }
            .accordion-list .container .accordion > li > .btn-accordion > .title-area > div:first-child {
              width: 330px; }
            .accordion-list .container .accordion > li > .btn-accordion > .title-area > div h3 {
              font-size: 26px;
              font-weight: 700;
              letter-spacing: -0.261px;
              -webkit-transition-property: all;
              transition-property: all;
              -webkit-transition-duration: 0.15s;
              transition-duration: 0.15s;
              -webkit-transition-timing-function: linear;
              transition-timing-function: linear;
              -webkit-transition-delay: 0s;
              transition-delay: 0s; }
            .accordion-list .container .accordion > li > .btn-accordion > .title-area > div b {
              display: block;
              font-size: 18px;
              font-weight: 700;
              line-height: 17px;
              letter-spacing: -0.183px;
              -webkit-transition-property: all;
              transition-property: all;
              -webkit-transition-duration: 0.15s;
              transition-duration: 0.15s;
              -webkit-transition-timing-function: linear;
              transition-timing-function: linear;
              -webkit-transition-delay: 0s;
              transition-delay: 0s; }
            .accordion-list .container .accordion > li > .btn-accordion > .title-area > div p {
              display: block;
              font-size: 18px;
              font-weight: 300;
              line-height: 17px;
              letter-spacing: -0.183px;
              margin-top: 8px;
              -webkit-transition-property: all;
              transition-property: all;
              -webkit-transition-duration: 0.15s;
              transition-duration: 0.15s;
              -webkit-transition-timing-function: linear;
              transition-timing-function: linear;
              -webkit-transition-delay: 0s;
              transition-delay: 0s; }
        .accordion-list .container .accordion > li > .btn-accordion.active:after {
          transform: translateY(-50%) rotate(180deg); }
        .accordion-list .container .accordion > li > .btn-accordion.active .title-area {
          color: #051BD0; }
      .accordion-list .container .accordion > li .list-content {
        display: none;
        padding-left: 320px; }
        .accordion-list .container .accordion > li .list-content > figure {
          padding: 20px 0; }
          .accordion-list .container .accordion > li .list-content > figure img {
            display: block;
            max-width: 100%; }
        .accordion-list .container .accordion > li .list-content .inner {
          display: table;
          width: 100%;
          table-layout: fixed;
          padding: 20px 0; }
          .accordion-list .container .accordion > li .list-content .inner > div {
            display: table-cell;
            vertical-align: middle; }
            .accordion-list .container .accordion > li .list-content .inner > div img {
              display: block;
              width: 100%; }
            .accordion-list .container .accordion > li .list-content .inner > div:first-child {
              padding-right: 10px; }
            .accordion-list .container .accordion > li .list-content .inner > div:last-child {
              padding-left: 10px; }
            .accordion-list .container .accordion > li .list-content .inner > div.type-2 {
              font-size: 0; }
              .accordion-list .container .accordion > li .list-content .inner > div.type-2 > img {
                display: inline-block;
                vertical-align: middle;
                max-width: 100%;
                width: auto; }
                .accordion-list .container .accordion > li .list-content .inner > div.type-2 > img ~ img {
                  margin-left: 30px; }

@keyframes shake {
  0%, 100% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(-1.5deg); }
  50% {
    transform: rotate(1deg); }
  75% {
    transform: rotate(-1deg); } }
/* event-list */
.event-list {
  padding-bottom: 120px; }
  .event-list .container > ul {
    display: table;
    width: 100%;
    table-layout: fixed; }
    .event-list .container > ul > li {
      position: relative;
      display: table-cell;
      vertical-align: top;
      padding: 40px 30px 0 30px;
      border-right: 1px solid #000; }
      .event-list .container > ul > li > a {
        display: block; }
        .event-list .container > ul > li > a > dl {
          color: #000; }
          .event-list .container > ul > li > a > dl > dt {
            font-size: 38px;
            font-weight: 800;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s;
            letter-spacing: -.3px; }
          .event-list .container > ul > li > a > dl > dd {
            font-size: 26px;
            font-weight: 400;
            line-height: 37px;
            letter-spacing: -0.267px;
            margin-top: 8px;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s; }
        .event-list .container > ul > li > a > img {
          position: absolute;
          bottom: 0;
          right: 10px;
          display: block;
          max-width: 100%;
          transform-origin: center bottom;
          animation: shake 3s ease-in-out infinite; }
        .event-list .container > ul > li > a:hover > dl {
          color: #051BD0; }
      .event-list .container > ul > li:first-child {
        border-left: 1px solid #000; }

/*# sourceMappingURL=main2.css.map */
