@import 'common';

/* page-header */
.page-header {
    position: relative;
    overflow: hidden;
    
    .vol {
        position: absolute;
        left: 60px;
        bottom: 40px;
        z-index: 2;
        height: calc(100% - 154px);
        .inner {
            position: relative;
            height: 100%;
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                width: 1px;
                height: calc(100% - 226px);
                content: '';
                background-color: #fff;
            }
            > p {
                position: absolute;
                bottom: 96px;
                left: -108px;
                white-space: nowrap;
                font-size: 18px;
                font-weight: 300;
                color: #fff;
                @include gmarket();
                transform: rotate(90deg);
                b {
                    font-weight: bold;
                }
            }
        }
    }
    .backdrop {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scale(1.1);
        @include transition($duration: 6s);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
    }
    .container {
        position: relative;
        z-index: 1;
        display: table;
        @include scd();
        text-align: center;
        height: 100vh;
        .v-align {
            color: #fff;
            display: table-cell;
            vertical-align: middle;
            small {
                display: inline-block;
                vertical-align: top;
                height: 46px;
                @include gmarket();
                font-size: 18px;
                font-weight: 400;
                line-height: 48px;
                padding: 0 20px;
                border-radius: 100px;
                border: 1px solid #fff;
            }
            h3 {
                font-size: 72px;
                line-height: 96px;
                font-weight: 300;
                margin-top: 50px;
                b {
                    font-weight: 600;
                }
            }
            p {
                font-size: 24px;
                font-weight: 300;
                line-height: 36px;
                margin-top: 20px;
            }
            hr {
                display: block;
                border: 0;
                width: 100px;
                height: 1px;
                margin: 40px auto;
                background-color: #fff;
            }
            span {
                display: block;
                font-size: 16px;
                font-weight: 300;
                b {
                    font-weight: 600;
                }
                br {
                    display: none;
                }
            }
        }
    }
    &.show {
        .backdrop {
            transform: scale(1);
        }
    }
    @media(max-width: $md) {
        .vol {
            left: 26px;
            bottom: 20px;
            height: calc(100% - 90px);
            .inner {
                &:before {
                    height: calc(100% - 210px);
                }
                p {
                    left: -95px;
                    bottom: 86px;
                    font-size: 16px;
                }
            }
        }
        .container {
            .v-align {
                small {
                    font-size: 12px;
                    height: 26px;
                    line-height: 26px;
                    padding: 0 10px;
                }
                h3 {
                    font-size: 35px;
                    line-height: 48px;
                    margin-top: 15px;
                }
                p {
                    font-size: 14px;
                    line-height: 20px;
                    margin-top: 10px;
                }
                hr {
                    margin: 30px auto;
                }
                span {
                    font-size: 12px;
                    line-height: 18px;
                    br {
                        display: block;
                    }
                }
            }
        }
    }
}

section {
    padding: 100px 0 200px;
    @media(max-width: $md) {
        padding: 30px 0 100px;
    }
}

/* sub-1 */
.sub-1 {
    overflow: hidden;
}

.sub1-1 {
    position: relative;
    color: #000;
    padding-bottom: 100px;
    border-bottom: 1px solid #ddd;
    .rotate-txt {
        position: absolute;
        top: 0;
        right: -177px;
        img {
            display: block;
            max-width: 100%;
        }
    }
    > ul {
        > li {
            & ~ li {
                margin-top: 100px;
            }
            .rotate-txt-sm {
                display: none;
                img {
                    display: block;
                    width: 100%;
                }
            }
        }
    }
    dt {
        font-size: 30px;
        font-weight: bold;
    }
    dd {
        font-size: 20px;
        font-weight: 300;
        line-height: 30px;
        margin-top: 30px;
        letter-spacing: -1.3px;
        .box {
            display: table;
            width: 100%;
            height: 100%;
            > div {
                display: table-cell;
                vertical-align: top;
                height: 100%;
                &.item-img {
                    width: 500px;
                    > figure {
                        position: relative;
                        overflow: hidden;
                        height: 100%;
                        border-radius: 10px;
                        background-image: url(../images/sub/img_sub01_01.png);
                        background-repeat: no-repeat;
                        background-size: cover;
                        img {
                            display: none;
                            max-width: 100%;
                        }
                    }
                }
                &.details {
                    padding-left: 40px;
                }
            }
        }
    }
    .figure-list {
        display: table;
        width: 100%;
        margin-top: 80px;
        figure {
            display: table-cell;
            vertical-align: top;
            img {
                display: block;
                max-width: 100%;
            }
            &:first-child {
                padding-right: 20px;
            }
            &:last-child {
                padding-left: 20px;
            }
        }
    }
    .caption {
        display: block;
        font-size: 16px;
        color: #6E6E6E;
        line-height: 30px;
        margin-top: 10px;
    }
    @media(max-width: $xl) {
        .rotate-txt {
            display: none;
        }
    }
    @media(max-width: $md) {
        padding-bottom: 40px;
        > ul {
            > li {
                .rotate-txt-sm {
                    display: block;
                    margin-top: 20px;
                }
                & ~ li {
                    margin-top: 40px;
                }
            }
        }
        dt {
            font-size: 20px;
        }
        dd {
            font-size: 15px;
            line-height: 23px;
            margin-top: 20px;
            .box {
                display: block;
                > div {
                    display: block;
                    width: 100% !important;
                    padding: 0 !important;
                    & ~ div {
                        margin-top: 20px;
                    }
                    &.item-img {
                        > figure {
                            background: none !important;
                            img {
                                display: block;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        .figure-list {
            display: block;
            margin-top: 30px;
            > figure {
                display: block;
                padding: 0 !important;
                img {
                    width: 100%;
                }
                & ~ figure {
                    margin-top: 10px;
                }
            }
        }
        .caption {
            font-size: 12px;
            line-height: 18px;
            margin-top: 5px;
            br {
                display: none;
            }
        }
    }
}

.sub1-2 {
    position: relative;
    text-align: center;
    padding: 100px 0;
    &:after {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 500px;
        height: 1px;
        content: '';
        transform: translateX(-50%);
        background-color: #000000;
    }
    .article-header {
        padding-bottom: 30px;
        h3 {
            font-size: 40px;
            font-weight: bold;
            line-height: 56px;
            color: $kcolor2;
        }
    }
    .article-content {
        > figure {
            display: inline-block;
            img {
                display: block;
                max-width: 100%;
            }
            figcaption {
                font-size: 16px;
                color: #6E6E6E;
                text-align: left;
                line-height: 21px;
                margin-top: 10px;
                b {
                    font-weight: bold;
                }
            }
        }
        .summary {
            text-align: left;
            margin-top: 70px;
            p {
                font-size: 20px;
                line-height: 30px;
                color: #000;
                font-weight: 300;
                letter-spacing: -1.3px;
            }
        }
    }
    @media(max-width: $md) {
        padding: 40px 0;
        &:after {
            width: 100px;
        }
        .article-header {
            padding-bottom: 20px;
            h3 {
                font-size: 26px;
                line-height: 35px;
            }
        }
        .article-content {
            > figure {
                figcaption {
                    font-size: 12px;
                    line-height: 18px;
                }
            }
            .summary {
                margin-top: 30px;
                p {
                    font-size: 15px;
                    line-height: 23px;
                }
            }
        }
    }
}

.sub1-3 {
    padding-top: 100px;
    > ul {
        > li {
            & ~ li {
                margin-top: 100px;
            }
            dt {
                font-size: 30px;
                line-height: 44px;
                color: #000;
                font-weight: bold;
            }
            dd {
                margin-top: 30px;
                .box {
                    display: table;
                    width: 100%;
                    table-layout: fixed;
                    > div {
                        display: table-cell;
                        vertical-align: top;
                        &.item-img {
                            width: 500px;
                            figure {
                                img {
                                    display: block;
                                    width: 100%;
                                }
                            }
                        }
                        &.details {
                            > ul {
                                > li {
                                    b {
                                        position: relative;
                                        display: block;
                                        font-size: 20px;
                                        color: #000;
                                        font-weight: bold;
                                        padding-left: 30px;
                                        line-height: 30px;
                                        img {
                                            position: absolute;
                                            top: 3px;
                                            left: 0;
                                            display: block;
                                            max-width: 100%;
                                        }
                                    }
                                    p {
                                        font-size: 20px;
                                        line-height: 30px;
                                        color: #000;
                                        font-weight: 300;
                                        margin-top: 10px;
                                        letter-spacing: -1.3px;
                                    }
                                    & ~ li {
                                        margin-top: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &:nth-of-type(2n + 1) {
                .box {
                    .details {
                        padding-left: 40px;
                    }
                }
            }
            &:nth-of-type(2n + 2) {
                .box {
                    .details {
                        padding-right: 40px;
                    }
                }
            }
        }
    }
    @media(max-width: $md) {
        padding-top: 40px;
        > ul {
            > li {
                dt {
                    font-size: 20px;
                    line-height: 27px;
                }
                dd {
                    margin-top: 20px;
                    .box {
                        display: block;
                        > div {
                            display: block;
                            width: 100% !important;
                            padding: 0 !important;
                            &.details {
                                padding-top: 20px !important;
                                > ul {
                                    > li {
                                        > b {
                                            font-size: 15px;
                                            line-height: 24px;
                                            line-height: 20px;
                                            padding-left: 26px;
                                            img {
                                                top: -2px;
                                                max-width: 20px;
                                            }
                                        }
                                        > p {
                                            font-size: 15px;
                                            line-height: 23px;
                                            margin-top: 10px;
                                        }
                                        & ~ li {
                                            margin-top: 15px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                & ~ li {
                    margin-top: 60px;
                }
                &:nth-of-type(2n + 2) {
                    .box {
                        display: flex;
                        flex-direction: column-reverse;
                    }
                }
            }
        }
    }
}






























































































