@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, etails, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button, hr {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

main, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, hr {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.visible-sm {
  display: none !important; }
  @media (max-width: 1024px) {
    .visible-sm {
      display: block !important; } }

.visible-lg {
  display: block !important; }
  @media (max-width: 1024px) {
    .visible-lg {
      display: none !important; } }

.d-block {
  display: block !important; }

body {
  min-width: 360px;
  width: 100%;
  font-size: 16px;
  color: #000;
  line-height: 1;
  font-weight: 400;
  font-family: "IBM Plex Sans KR", sans-serif;
  letter-spacing: -.3px;
  word-break: break-all;
  box-sizing: border-box; }
  body *, body *::before, body *::after {
    box-sizing: border-box; }

input, select, textarea {
  font-family: inherit;
  outline: none;
  resize: none; }

a, button {
  color: #000;
  border: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  background: none; }
  a:hover, button:hover {
    color: #000; }

.container {
  display: block;
  width: 100%;
  max-width: 1750px;
  padding: 0 15px;
  margin: 0 auto; }

.container-fluid {
  display: block;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto; }

/* header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  padding: 22px 0;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }
  #header .container-fluid {
    position: relative;
    width: 100%;
    padding: 0 35px; }
    #header .container-fluid .logo {
      display: inline-block;
      vertical-align: top;
      font-size: 0; }
      #header .container-fluid .logo > a {
        display: block; }
        #header .container-fluid .logo > a img {
          display: block;
          max-width: 100%; }
    #header .container-fluid .top-area {
      position: absolute;
      top: 50%;
      right: 35px;
      transform: translateY(-50%); }
      #header .container-fluid .top-area > div {
        display: inline-block;
        vertical-align: top;
        margin-right: 30px; }
        #header .container-fluid .top-area > div.util > ul {
          font-size: 0; }
          #header .container-fluid .top-area > div.util > ul > li {
            display: inline-block;
            vertical-align: top;
            margin-right: 5px; }
            #header .container-fluid .top-area > div.util > ul > li > a {
              display: block;
              font-size: 15px;
              color: #006FFF;
              font-weight: 400;
              line-height: 42px;
              padding: 0 30px;
              border-radius: 100px;
              -webkit-transition-property: all;
              transition-property: all;
              -webkit-transition-duration: 0.15s;
              transition-duration: 0.15s;
              -webkit-transition-timing-function: linear;
              transition-timing-function: linear;
              -webkit-transition-delay: 0s;
              transition-delay: 0s;
              background-color: #F9F9F9; }
              #header .container-fluid .top-area > div.util > ul > li > a:hover {
                color: #fff;
                background-color: #006FFF; }
            #header .container-fluid .top-area > div.util > ul > li:last-child {
              margin-right: 0; }
        #header .container-fluid .top-area > div.btn-area {
          padding-top: 4px;
          margin-right: 0; }
          #header .container-fluid .top-area > div.btn-area .btn-nav {
            position: relative;
            display: block;
            width: 34px;
            height: 34px; }
            #header .container-fluid .top-area > div.btn-area .btn-nav span {
              position: absolute;
              display: block;
              width: 15px;
              height: 15px;
              border-radius: 50%;
              -webkit-transition-property: all;
              transition-property: all;
              -webkit-transition-duration: 0.15s;
              transition-duration: 0.15s;
              -webkit-transition-timing-function: linear;
              transition-timing-function: linear;
              -webkit-transition-delay: 0s;
              transition-delay: 0s;
              background-color: #006FFF; }
              #header .container-fluid .top-area > div.btn-area .btn-nav span:nth-of-type(1) {
                top: 0;
                left: 0; }
              #header .container-fluid .top-area > div.btn-area .btn-nav span:nth-of-type(2) {
                top: 0;
                right: 0; }
              #header .container-fluid .top-area > div.btn-area .btn-nav span:nth-of-type(3) {
                bottom: 0;
                left: 0; }
              #header .container-fluid .top-area > div.btn-area .btn-nav span:nth-of-type(4) {
                bottom: 0;
                right: 0; }
            #header .container-fluid .top-area > div.btn-area .btn-nav:hover span {
              border-radius: 0;
              background-color: #000; }
            #header .container-fluid .top-area > div.btn-area .btn-nav.btn-nav-close span {
              top: 50% !important;
              left: 50% !important;
              width: 32px;
              height: 3px;
              border-radius: 100px;
              transform-origin: center;
              background-color: #006FFF; }
              #header .container-fluid .top-area > div.btn-area .btn-nav.btn-nav-close span:nth-of-type(1), #header .container-fluid .top-area > div.btn-area .btn-nav.btn-nav-close span:nth-of-type(4) {
                transform: translate(-50%, -50%) rotate(45deg); }
              #header .container-fluid .top-area > div.btn-area .btn-nav.btn-nav-close span:nth-of-type(2), #header .container-fluid .top-area > div.btn-area .btn-nav.btn-nav-close span:nth-of-type(3) {
                transform: translate(-50%, -50%) rotate(-45deg); }
            #header .container-fluid .top-area > div.btn-area .btn-nav.btn-nav-close:hover span {
              opacity: .7;
              background-color: #000; }
  @media (max-width: 1024px) {
    #header {
      padding: 18px 0; }
      #header .container-fluid {
        padding: 0 15px; }
        #header .container-fluid .logo > a img {
          width: auto;
          height: 24px; }
        #header .container-fluid .top-area {
          right: 15px; }
          #header .container-fluid .top-area > div.util {
            display: none; }
          #header .container-fluid .top-area > div.btn-area {
            padding-top: 0; }
            #header .container-fluid .top-area > div.btn-area .btn-nav {
              width: 24px;
              height: 24px; }
              #header .container-fluid .top-area > div.btn-area .btn-nav span {
                width: 10px;
                height: 10px; } }

/* nav */
#nav {
  position: fixed;
  top: 70px;
  right: -100%;
  width: 100%;
  max-width: 525px;
  z-index: 100;
  overflow-y: auto;
  height: calc(100vh - 70px);
  padding: 25px 0 140px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  background-color: #006FFF; }
  #nav .container {
    padding: 0 35px; }
    #nav .container .gnb-wrap > ul > li {
      border-bottom: 1px solid #fff; }
      #nav .container .gnb-wrap > ul > li > a {
        position: relative;
        display: block;
        font-size: 30px;
        color: #fff;
        font-weight: 700;
        line-height: 80px; }
        #nav .container .gnb-wrap > ul > li > a:before {
          position: absolute;
          top: 50%;
          right: 0;
          display: block;
          content: '';
          width: 22px;
          height: 2px;
          transform-origin: center;
          background-color: #fff;
          transform: translateY(-50%); }
        #nav .container .gnb-wrap > ul > li > a:after {
          position: absolute;
          top: 50%;
          right: 0;
          display: block;
          content: '';
          width: 22px;
          height: 2px;
          transform-origin: center;
          background-color: #fff;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s;
          transform: rotate(90deg) translateY(-50%); }
      #nav .container .gnb-wrap > ul > li > ul {
        display: none;
        border-top: 1px solid #fff; }
        #nav .container .gnb-wrap > ul > li > ul > li:first-child {
          padding-top: 20px; }
        #nav .container .gnb-wrap > ul > li > ul > li:last-child {
          padding-bottom: 20px; }
        #nav .container .gnb-wrap > ul > li > ul > li > a {
          display: block;
          overflow: hidden;
          font-size: 18px;
          color: #fff;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s;
          font-weight: 400;
          white-space: nowrap;
          text-overflow: ellipsis; }
          #nav .container .gnb-wrap > ul > li > ul > li > a > b {
            position: relative;
            display: inline-block;
            vertical-align: top;
            font-weight: 600;
            padding-right: 20px;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s; }
            #nav .container .gnb-wrap > ul > li > ul > li > a > b:after {
              position: absolute;
              top: 50%;
              right: 10px;
              width: 1px;
              height: 16px;
              content: '';
              -webkit-transition-property: all;
              transition-property: all;
              -webkit-transition-duration: 0.15s;
              transition-duration: 0.15s;
              -webkit-transition-timing-function: linear;
              transition-timing-function: linear;
              -webkit-transition-delay: 0s;
              transition-delay: 0s;
              transform: translateY(-50%);
              background-color: #fff; }
            #nav .container .gnb-wrap > ul > li > ul > li > a > b.after-none:after {
              display: none; }
          #nav .container .gnb-wrap > ul > li > ul > li > a:hover {
            color: #000; }
            #nav .container .gnb-wrap > ul > li > ul > li > a:hover b:after {
              background-color: #000; }
        #nav .container .gnb-wrap > ul > li > ul > li ~ li {
          margin-top: 20px; }
      #nav .container .gnb-wrap > ul > li:last-child {
        border-bottom: 0; }
      #nav .container .gnb-wrap > ul > li.active > a:after {
        transform: translateY(-50%); }
    #nav .container .sns-list {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      padding-bottom: 60px; }
      #nav .container .sns-list > ul {
        font-size: 0; }
        #nav .container .sns-list > ul > li {
          display: inline-block;
          vertical-align: top;
          margin-right: 10px; }
          #nav .container .sns-list > ul > li > a {
            display: block; }
            #nav .container .sns-list > ul > li > a img {
              display: block;
              max-width: 100%; }
          #nav .container .sns-list > ul > li:last-child {
            margin-right: 0; }
  @media (max-width: 1024px) {
    #nav {
      top: 60px;
      height: calc(100vh - 60px);
      padding: 15px 0 100px; }
      #nav .container {
        padding: 0 15px; }
        #nav .container .gnb-wrap > ul > li > a {
          font-size: 20px;
          line-height: 60px; }
        #nav .container .gnb-wrap > ul > li > ul > li > a {
          font-size: 16px; }
        #nav .container .gnb-wrap > ul > li > ul > li ~ li {
          margin-top: 15px; }
        #nav .container .sns-list {
          padding-bottom: 30px; }
          #nav .container .sns-list > ul > li > a {
            width: 30px; } }

/* body event */
body.scrolled #header {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1); }
body.opened #nav {
  right: 0; }
@media (max-width: 1024px) {
  body.opened #header {
    background-color: #fff; } }

/* footer */
#footer {
  padding: 35px 0 40px;
  background-color: #2d2d2d; }
  #footer .container img {
    display: block;
    max-width: 100%;
    margin: 0 auto; }
  @media (max-width: 1024px) {
    #footer .container img {
      max-width: 290px; } }

/*# sourceMappingURL=default.css.map */
