@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url("https://cdn.jsdelivr.net/gh/leetaewook/gmarket-sans-dynamic-subset/GmarketSans.css");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, etails, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button, hr {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: inherit; }

main, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, hr {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.visible-sm {
  display: none !important; }
  @media (max-width: 1024px) {
    .visible-sm {
      display: block !important; } }

.visible-lg {
  display: block !important; }
  @media (max-width: 1024px) {
    .visible-lg {
      display: none !important; } }

body {
  min-width: 360px;
  width: 100%;
  font-size: 16px;
  color: #555;
  line-height: 1;
  font-weight: 400;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  letter-spacing: -1px;
  word-break: break-all;
  box-sizing: border-box; }
  body *, body *::before, body *::after {
    box-sizing: border-box; }

input, select, textarea {
  font-family: inherit;
  outline: none;
  resize: none; }

a, button {
  color: #000;
  border: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  background: none; }
  a:hover, button:hover {
    color: #000; }

.container {
  display: block;
  width: 100%;
  max-width: 1430px;
  padding: 0 15px;
  margin: 0 auto; }

.container-fluid {
  display: block;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto; }

#header {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1); }

.section-top {
  width: 100%; }
  .section-top.am-top {
    background-color: #D68A30; }
  .section-top.pm-top {
    background-color: #317B58; }
  .section-top .container {
    display: table;
    height: 80px;
    table-layout: fixed; }
    .section-top .container > div {
      display: table-cell;
      vertical-align: middle; }
      .section-top .container > div img {
        display: block;
        max-width: 100%; }
      .section-top .container > div.item-ico img {
        display: block;
        margin: 0; }
      .section-top .container > div.txt img {
        margin-left: auto; }
  @media (max-width: 1024px) {
    .section-top .container {
      height: 45px; }
      .section-top .container > div.item-ico img {
        max-width: 30px; }
      .section-top .container > div.txt img {
        max-width: 60px; } }

/* page-header */
.page-header {
  display: table;
  width: 100%;
  height: calc(100vh - 160px);
  table-layout: fixed;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover; }
  .page-header .container-fluid {
    display: table-cell;
    vertical-align: middle; }
    .page-header .container-fluid img {
      max-width: 100%;
      margin: 0 auto; }
  @media (max-width: 1024px) {
    .page-header {
      height: calc(100vh - 115px); } }

.space {
  height: 60px; }
  @media (max-width: 1024px) {
    .space {
      height: 40px; } }

.caption {
  display: block;
  font-size: 16px;
  color: #F5B63C;
  font-weight: 400;
  margin-top: 5px; }
  @media (max-width: 1024px) {
    .caption {
      font-size: 14px; } }

.table {
  display: table;
  width: 100%;
  table-layout: fixed;
  margin-top: 35px; }
  .table > li {
    display: table-cell;
    vertical-align: top; }
    .table > li img {
      display: block;
      width: 100%; }
    .table > li:first-child {
      padding-right: 15px; }
    .table > li:last-child {
      padding-left: 15px; }
  @media (max-width: 1024px) {
    .table {
      display: block;
      margin-top: 15px; }
      .table > li {
        display: block;
        padding: 0 !important; }
        .table > li ~ li {
          margin-top: 15px; } }

.txt-fade span {
  background-size: 0% 100%;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }
.txt-fade.active span {
  background-size: 100% 100%; }

.sub-01 {
  padding-bottom: 100px;
  background-color: #3266A6; }
  .sub-01 .page-header {
    background-image: url(../images/sub/bg_sub01_page_header_lg.png); }
  .sub-01 .section-content .container {
    max-width: 1230px; }
  .sub-01 .section-content .summary {
    padding: 100px 0;
    text-align: center; }
    .sub-01 .section-content .summary p {
      font-size: 24px;
      color: #F5B63C;
      font-weight: 500;
      line-height: 34px; }
  .sub-01 .section-content figure img {
    display: block;
    max-width: 100%;
    margin: 0 auto; }
  .sub-01 .section-content dt {
    font-size: 26px;
    font-weight: 600;
    color: #fff; }
  .sub-01 .section-content dd {
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    color: #fff;
    margin-top: 15px; }
  @media (max-width: 1024px) {
    .sub-01 {
      padding-bottom: 60px; }
      .sub-01 .page-header {
        background-image: url(../images/sub/bg_sub01_page_header_sm.png); }
      .sub-01 .section-content .summary {
        padding: 60px 0; }
        .sub-01 .section-content .summary p {
          font-size: 20px;
          line-height: 28px; }
      .sub-01 .section-content dt {
        font-size: 20px; }
      .sub-01 .section-content dd {
        font-size: 16px;
        line-height: 26px;
        margin-top: 10px; } }

.sub-02 {
  padding-bottom: 100px; }
  .sub-02 .page-header {
    background-image: url(../images/sub/bg_sub02_page_header_lg.png); }
  .sub-02 .section-content .container {
    max-width: 1230px; }
  .sub-02 .section-content figure img {
    display: block;
    max-width: 100%;
    margin: 0 auto; }
  .sub-02 .section-content .summary {
    padding: 100px 0;
    text-align: center; }
    .sub-02 .section-content .summary b {
      display: block;
      font-size: 24px;
      line-height: 34px;
      color: #000;
      font-weight: 600;
      margin-top: 60px; }
  .sub-02 .section-content dt {
    font-size: 26px;
    font-weight: 600;
    color: #000; }
  .sub-02 .section-content dd {
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    margin-top: 15px;
    color: #000; }
  @media (max-width: 1024px) {
    .sub-02 {
      padding-bottom: 60px; }
      .sub-02 .page-header {
        background-image: url(../images/sub/bg_sub02_page_header_sm.png); }
      .sub-02 .section-content .summary {
        padding: 60px 0; }
        .sub-02 .section-content .summary b {
          font-size: 20px;
          line-height: 28px;
          margin-top: 30px; }
      .sub-02 .section-content dt {
        font-size: 20px; }
      .sub-02 .section-content dd {
        font-size: 16px;
        line-height: 26px;
        margin-top: 10px; } }

.space2 {
  height: 100px; }
  @media (max-width: 1024px) {
    .space2 {
      height: 60px; } }

/*# sourceMappingURL=sub.css.map */
