@import 'common';

@keyframes scale {
  0% { transform: scale(1) translate(-50%, -50%); }
  100% { transform: scale(1.2) translate(-50%, -50%); }
}

/* jumbotron */
.jumbotron {
    position: relative;
    width: 100%;
    min-height: 900px;
    height: calc(100vh - 70px);
    overflow: hidden;
    .vol {
        padding: 40px 0 30px;
        text-align: center;
        p {
            display: block;
            color: #fff;
            font-size: 20px;
            font-weight: 400;
            width: 100px;
            line-height: 44px;
            margin: 0 auto;
            border-radius: 50%;
            background-color: #373737;
        }
    }
    .jumbo-swiper {
        position: absolute;
        top: 115px;
        left: 50%;
        overflow: hidden;
        width: 100%;
        height: calc(100vh - 70px);
        min-width: 1920px;
        transform: translateX(-50%);
        .swiper-wrapper {
            .swiper-slide {
                opacity: 0;
                > a {
                    position: relative;
                    display: block;
                    width: 180px;
                    overflow: hidden;
                    border-radius: 10px;
                    @include transition();
                    transform-origin: center;
                    margin: 0 auto;
                    img {
                        &.back {
                            display: block;
                            width: 100%;
                        }
                        &.front {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            width: auto;
                            height: 100%;
                            transform: translate(-50%, -50%);
                        }
                        &.zoom-in {
                            animation: scale 10s infinite linear;
                        }
                        &.zoom-out {
                            animation: scale 10s infinite linear reverse;
                        }
                    }
                }
                &.prev-slide1 {
                    opacity: 1;
                    > a {
                        top: 50px;
                        transform: rotate(-14deg);
                    }
                }
                &.prev-slide2 {
                    opacity: 1;
                    > a {
                        top: 180px;
                        transform: rotate(-30deg);
                    }
                }
                &.prev-slide3 {
                    opacity: 1;
                    > a {
                        top: 400px;
                        transform: rotate(-45deg);
                    }
                }
                &.prev-slide4 {
                    > a {
                        top: 600px;
                        transform: rotate(-45deg);
                    }
                }
                &.next-slide1 {
                    opacity: 1;
                    > a {
                        top: 50px;
                        transform: rotate(14deg);
                    }
                }
                &.next-slide2 {
                    opacity: 1;
                    > a {
                        top: 180px;
                        transform: rotate(30deg);
                    }
                }
                &.next-slide3 {
                    opacity: 1;
                    > a {
                        top: 400px;
                        transform: rotate(45deg);
                    }
                }
                &.next-slide4 {
                    > a {
                        top: 600px;
                        transform: rotate(45deg);
                    }
                }
                &.swiper-slide-active {
                    opacity: 1;
                }
            }
        }
    }
    .summary {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 4;
        text-align: center;
        padding-bottom: 130px;
        .container {
            .jumbo-pagination {
                span {
                    opacity: 1;
                    width: 10px;
                    height: 10px;
                    border-radius: 100px;
                    border: 1px solid #000;
                    background-color: #fff;
                    @include transition();
                    &.swiper-pagination-bullet-active {
                        width: 22px;
                        background-color: $kcolor;
                    }
                }
            }
            p {
                font-size: 30px;
                font-weight: 500;
                color: #000;
                line-height: 39px;
                margin-top: 100px;
                b {
                    display: block;
                    font-weight: bold;
                }
            }
            h3 {
                font-size: 70px;
                color: #000;
                font-weight: 700;
                margin-top: 10px;
            }
        }
    }
    @media(max-width: $md) {
        min-height: 670px;
        .vol {
            padding: 20px 0;
            p {
                font-size: 20px;
                width: 104px;
                line-height: 42px;
            }
        }
        .jumbo-swiper {
            top: 82px;
            .swiper-wrapper {
                .swiper-slide {
                    > a {
                        width: 220px;
                    }
                }
            }
        }
        .summary {
            padding-bottom: 40px;
            .container {
                p {
                    font-size: 20px;
                    line-height: 26px;
                    margin-top: 30px;
                }
                h3 {
                    font-size: 40px;
                    margin-top: 0;
                    line-height: 44px;
                }
            }
        }
    }
}

.section-header {
    padding: 60px 0 40px;
    h3 {
        display: block;
        width: 280px;
        font-size: 38px;
        color: #fff;
        text-align: center;
        line-height: 110px;
        margin: 0 auto;
        border-radius: 50%;
        background-color: $kcolor;
    }
    @media(max-width: $md) {
        padding: 40px 0 30px;
        h3 {
            width: 150px;
            font-size: 20px;
            line-height: 60px;
        }
    }
}

.section-1 {
    .section-content {
        height: 842px;
        padding-top: 126px;
        background-image: url(../images/main/bg_section01.png);
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        .swiper-1 {
            max-width: 708px;
            margin: 0 auto;
            .swiper-wrapper {
                .swiper-slide {
                    > a {
                        img {
                            display: block;
                            width: 100%;
                        }
                    }
                }
            }
            .pagination1 {
                margin-top: 30px;
                text-align: center;
                span {
                    background-color: #fff;
                }
            }
        }
    }
    @media(max-width: $md) {
        .section-header {
            padding-bottom: 0;
        }
        .section-content {
            padding: 120px 0;
            height: auto;
            background-position: 10% 0;
        }
    }
}

.section-2 {
    .section-content {
        .story-list {
            border-top: 1px solid #000;
            > li {
                border-bottom: 1px solid #000;
                > button {
                    position: relative;
                    display: block;
                    &:after {
                        position: absolute;
                        top: 50%;
                        right: 0;
                        width: 30px;
                        height: 35px;
                        content: '';
                        background-image: url(../images/main/ico_arrow.png);
                        background-repeat: no-repeat;
                        background-position: 0 0;
                        background-size: auto auto;
                        @include transition();
                        transform: translateY(-50%);
                    }
                    dl {
                        display: table;
                        width: 100%;
                        text-align: left;
                        height: 78px;
                        table-layout: fixed;
                        > dt, dd {
                            display: table-cell;
                            vertical-align: middle;
                        }
                        > dt {
                            width: 260px;
                            font-size: 26px;
                            font-weight: 700;
                            letter-spacing: -0.261px;
                            img {
                                position: relative;
                                top: -2px;
                                display: inline-block;
                                vertical-align: middle;
                                margin-left: 20px;
                            }
                        }
                        > dd {
                            font-size: 18px;
                            font-weight: 300;
                            b {
                                display: block;
                                font-weight: bold;
                            }
                        }
                    }
                    &.active {
                        &:after {
                            transform: translateY(-50%) rotate(180deg);
                        }
                    }
                }
                .list-content {
                    display: none;
                    padding-left: 260px;
                    figure {
                        padding: 30px 0;
                        img {
                            display: block;
                            max-width: 100%;
                        }
                    }
                }
            }
        }
    }
    @media(max-width: $md) {
        .section-content {
            .swiper-2 {
                .swiper-wrapper {
                    .swiper-slide {
                        > a {
                            display: block;
                            padding: 20px 0;
                            border-top: 1px solid #000;
                            border-bottom: 1px solid #000;
                            strong {
                                display: block;
                                font-size: 22px;
                                font-weight: 700;
                                line-height: 13.723px; /* 62.379% */
                                letter-spacing: -0.22px;
                                img {
                                    display: inline-block;
                                    vertical-align: top;
                                    width: 36px;
                                }
                            }
                            b {
                                display: block;
                                font-size: 16px;
                                font-weight: 700;
                                letter-spacing: -0.16px;
                                margin-top: 20px;
                            }
                            p {
                                font-size: 16px;
                                font-weight: 300;
                                letter-spacing: -0.16px;
                                margin-top: 5px;
                            }
                            > figure {
                                margin-top: 20px;
                                img {
                                    display: block;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
                .pagination2 {
                    margin-top: 20px;
                    text-align: center;
                    span {
                        background-color: #000;
                    }
                }
            }
        }
    }
}

.section-3 {
    img {
        width: 100%;
    }
}

/* banner-list */
.banner-list {
    padding: 70px 0 120px;
    .container {
        > ul {
            display: table;
            width: 100%;
            table-layout: fixed;
            > li {
                display: table-cell;
                vertical-align: top;
                border-right: 1px solid #000;
                > a {
                    display: block;
                    img {
                        display: block;
                        width: 100%;
                    }
                }
                &:first-child {
                    border-left: 1px solid #000;
                }
            }
        }
    }
    @media(max-width: $md) {
        .container {
            > ul {
                display: block;
                > li {
                    display: block;
                    border: 0;
                    border-bottom: 1px solid #000;
                    &:first-child {
                        border-left: 0;
                        border-top: 1px solid #000;
                    }
                }
            }
        }
    }
}