@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, etails, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button, hr {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: inherit; }

main, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, hr {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.visible-sm {
  display: none !important; }
  @media (max-width: 1024px) {
    .visible-sm {
      display: block !important; } }

.visible-lg {
  display: block !important; }
  @media (max-width: 1024px) {
    .visible-lg {
      display: none !important; } }

body {
  min-width: 360px;
  width: 100%;
  font-size: 16px;
  color: #555;
  line-height: 1;
  font-weight: 400;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  word-break: break-all;
  box-sizing: border-box; }
  body *, body *::before, body *::after {
    box-sizing: border-box; }

input, select, textarea {
  font-family: inherit;
  outline: none;
  resize: none; }

a, button {
  color: #000;
  border: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  background: none; }
  a:hover, button:hover {
    color: #000; }

.container {
  display: block;
  width: 100%;
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto; }

.container-fluid {
  display: block;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto; }

@keyframes move {
  from {
    opacity: 0;
    transform: translateX(40px); }
  to {
    opacity: 1;
    transform: translateY(0); } }
@keyframes moveReverse {
  from {
    opacity: 0;
    transform: translateX(-40px); }
  to {
    opacity: 1;
    transform: translateY(0); } }
/* jumbotron */
.jumbotron {
  position: relative; }
  .jumbotron .jumbo-swiper .swiper-wrapper .swiper-slide {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover; }
    .jumbotron .jumbo-swiper .swiper-wrapper .swiper-slide > a {
      position: relative;
      display: block;
      width: 100%;
      height: 100vh; }
      .jumbotron .jumbo-swiper .swiper-wrapper .swiper-slide > a .backdrop {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%; }
      .jumbotron .jumbo-swiper .swiper-wrapper .swiper-slide > a .container-fluid {
        display: table;
        width: 100%;
        height: 100%;
        padding: 0 100px; }
        .jumbotron .jumbo-swiper .swiper-wrapper .swiper-slide > a .container-fluid .v-align {
          display: table-cell;
          vertical-align: top;
          padding-top: 176px; }
          .jumbotron .jumbo-swiper .swiper-wrapper .swiper-slide > a .container-fluid .v-align small {
            display: inline-block;
            color: #fff;
            opacity: 0;
            font-size: 24px;
            line-height: 36px;
            padding: 0 15px;
            letter-spacing: -0.72px;
            border-radius: 100px;
            border: 1px solid #fff;
            transform: translateY(20px); }
          .jumbotron .jumbo-swiper .swiper-wrapper .swiper-slide > a .container-fluid .v-align h3 {
            display: block;
            opacity: 0;
            font-size: 50px;
            color: #fff;
            font-weight: 300;
            line-height: 72px;
            margin-top: 20px;
            transform: translateY(20px); }
            .jumbotron .jumbo-swiper .swiper-wrapper .swiper-slide > a .container-fluid .v-align h3 b {
              font-weight: 800; }
          .jumbotron .jumbo-swiper .swiper-wrapper .swiper-slide > a .container-fluid .v-align p {
            opacity: 0;
            font-size: 18px;
            color: #fff;
            font-weight: 300;
            line-height: 25px;
            letter-spacing: -0.36px;
            margin-top: 20px;
            transform: translateY(20px); }
    .jumbotron .jumbo-swiper .swiper-wrapper .swiper-slide.swiper-slide-active > a .container-fluid .v-align small {
      animation: move 0.6s ease .3s forwards; }
    .jumbotron .jumbo-swiper .swiper-wrapper .swiper-slide.swiper-slide-active > a .container-fluid .v-align h3 {
      animation: move 0.6s ease .45s forwards; }
    .jumbotron .jumbo-swiper .swiper-wrapper .swiper-slide.swiper-slide-active > a .container-fluid .v-align p {
      animation: move 0.6s ease .6s forwards; }
  .jumbotron .controls {
    position: absolute;
    bottom: 70px;
    left: 100px;
    z-index: 1;
    text-align: center; }
    .jumbotron .controls > div {
      position: relative;
      padding: 0 35px; }
      .jumbotron .controls > div .jumbo-pagination span {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: auto;
        height: auto;
        line-height: 28px;
        font-size: 22px;
        font-weight: 400;
        color: #fff;
        opacity: .7;
        background: none;
        margin: 0;
        margin-right: 16px; }
        .jumbotron .controls > div .jumbo-pagination span:after {
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0;
          height: 2px;
          content: '';
          opacity: 1;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s;
          transform: translateX(-50%);
          background-color: #fff; }
        .jumbotron .controls > div .jumbo-pagination span:last-child {
          margin-right: 0; }
        .jumbotron .controls > div .jumbo-pagination span.swiper-pagination-bullet-active {
          opacity: 1;
          font-weight: 800; }
          .jumbotron .controls > div .jumbo-pagination span.swiper-pagination-bullet-active:after {
            width: 100%; }
      .jumbotron .controls > div button {
        position: absolute;
        top: calc(50% + 2px);
        display: block;
        transform: translateY(-50%); }
        .jumbotron .controls > div button svg {
          width: 100%;
          display: block; }
        .jumbotron .controls > div button.jumbo-prev {
          left: 0; }
        .jumbotron .controls > div button.jumbo-next {
          right: 0; }
  @media (max-width: 1630px) {
    .jumbotron .jumbo-swiper .swiper-wrapper .swiper-slide > a .container-fluid {
      padding: 0 15px; }
    .jumbotron .controls {
      left: 15px; } }
  @media (max-width: 1024px) {
    .jumbotron .jumbo-swiper .swiper-wrapper .swiper-slide > a {
      height: calc(100vh - 60px); }
      .jumbotron .jumbo-swiper .swiper-wrapper .swiper-slide > a .container-fluid {
        padding: 0 15px; }
        .jumbotron .jumbo-swiper .swiper-wrapper .swiper-slide > a .container-fluid .v-align {
          padding-top: 30px; }
          .jumbotron .jumbo-swiper .swiper-wrapper .swiper-slide > a .container-fluid .v-align small {
            font-size: 16px;
            line-height: 24px;
            padding: 0 8px;
            letter-spacing: -.8px; }
          .jumbotron .jumbo-swiper .swiper-wrapper .swiper-slide > a .container-fluid .v-align h3 {
            font-size: 30px;
            line-height: 40px;
            letter-spacing: -1px; }
            .jumbotron .jumbo-swiper .swiper-wrapper .swiper-slide > a .container-fluid .v-align h3 br {
              display: none; }
              .jumbotron .jumbo-swiper .swiper-wrapper .swiper-slide > a .container-fluid .v-align h3 br.d-block {
                display: block; }
          .jumbotron .jumbo-swiper .swiper-wrapper .swiper-slide > a .container-fluid .v-align p {
            font-size: 16px;
            line-height: 1.4; }
    .jumbotron .controls {
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%); }
      .jumbotron .controls > div {
        padding: 0 26px; }
        .jumbotron .controls > div > button {
          top: 10px;
          width: 10px; }
          .jumbotron .controls > div > button svg {
            width: 10px; }
        .jumbotron .controls > div .jumbo-pagination span {
          font-size: 16px;
          line-height: 20px;
          margin-right: 10px; } }

#content .container-fluid {
  max-width: 1450px; }

/* section-1 */
.section-1 {
  overflow: hidden;
  padding: 120px 0 60px; }
  .section-1 .container-fluid > div {
    display: table;
    width: 100%;
    height: 100%;
    table-layout: fixed; }
    .section-1 .container-fluid > div > div {
      opacity: 0;
      height: 100%;
      display: table-cell;
      vertical-align: top;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
      .section-1 .container-fluid > div > div.item-img {
        width: 28.663%; }
        .section-1 .container-fluid > div > div.item-img > a {
          display: block;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
          .section-1 .container-fluid > div > div.item-img > a figure img {
            display: block;
            width: 100%; }
          .section-1 .container-fluid > div > div.item-img > a:hover {
            opacity: .7; }
      .section-1 .container-fluid > div > div.details > a {
        display: table;
        width: 100%;
        height: 100%;
        table-layout: fixed;
        border: 1px solid #003D94; }
        .section-1 .container-fluid > div > div.details > a > div {
          display: table-cell;
          vertical-align: middle;
          height: 100%; }
          .section-1 .container-fluid > div > div.details > a > div.backdrop {
            position: relative;
            overflow: hidden;
            width: 55.512%; }
            .section-1 .container-fluid > div > div.details > a > div.backdrop > div {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              -webkit-transition-property: all;
              transition-property: all;
              -webkit-transition-duration: 0.9s;
              transition-duration: 0.9s;
              -webkit-transition-timing-function: ease;
              transition-timing-function: ease;
              -webkit-transition-delay: 0s;
              transition-delay: 0s;
              background-position: 50% 50%;
              background-repeat: no-repeat;
              background-size: cover; }
          .section-1 .container-fluid > div > div.details > a > div.info {
            padding: 0 50px;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s;
            background-color: #fff; }
            .section-1 .container-fluid > div > div.details > a > div.info small {
              display: block;
              color: #003D94;
              font-size: 20px;
              font-weight: 600;
              letter-spacing: -0.597px;
              -webkit-transition-property: all;
              transition-property: all;
              -webkit-transition-duration: 0.15s;
              transition-duration: 0.15s;
              -webkit-transition-timing-function: linear;
              transition-timing-function: linear;
              -webkit-transition-delay: 0s;
              transition-delay: 0s; }
            .section-1 .container-fluid > div > div.details > a > div.info h3 {
              color: #000;
              font-size: 26px;
              font-weight: 400;
              line-height: 36px;
              letter-spacing: -0.78px;
              margin-top: 10px;
              -webkit-transition-property: all;
              transition-property: all;
              -webkit-transition-duration: 0.15s;
              transition-duration: 0.15s;
              -webkit-transition-timing-function: linear;
              transition-timing-function: linear;
              -webkit-transition-delay: 0s;
              transition-delay: 0s; }
            .section-1 .container-fluid > div > div.details > a > div.info p {
              color: #515151;
              font-size: 16px;
              font-weight: 400;
              line-height: 22px;
              letter-spacing: -0.48px;
              margin-top: 10px;
              -webkit-transition-property: all;
              transition-property: all;
              -webkit-transition-duration: 0.15s;
              transition-duration: 0.15s;
              -webkit-transition-timing-function: linear;
              transition-timing-function: linear;
              -webkit-transition-delay: 0s;
              transition-delay: 0s; }
        .section-1 .container-fluid > div > div.details > a:hover > div.info {
          background-color: #003D94; }
          .section-1 .container-fluid > div > div.details > a:hover > div.info small {
            color: #fff; }
          .section-1 .container-fluid > div > div.details > a:hover > div.info h3 {
            color: #fff; }
          .section-1 .container-fluid > div > div.details > a:hover > div.info p {
            color: #fff; }
        .section-1 .container-fluid > div > div.details > a:hover > div.backdrop > div {
          transform: scale(1.03); }
      .section-1 .container-fluid > div > div:nth-of-type(1) {
        padding-right: 15px; }
      .section-1 .container-fluid > div > div:nth-of-type(2) {
        padding-left: 15px; }
    .section-1 .container-fluid > div ~ div {
      margin-top: 40px; }
    .section-1 .container-fluid > div.first > div:nth-of-type(1) {
      transform: translateY(20px); }
    .section-1 .container-fluid > div.first > div:nth-of-type(2) {
      transform: translateY(20px); }
    .section-1 .container-fluid > div.second > div:nth-of-type(1) {
      transform: translateY(-20px); }
    .section-1 .container-fluid > div.second > div:nth-of-type(2) {
      transform: translateY(-20px); }
  .section-1.show .container-fluid > div {
    opacity: 1; }
    .section-1.show .container-fluid > div.first > div:nth-of-type(1) {
      animation: move .6s ease .3s forwards; }
    .section-1.show .container-fluid > div.first > div:nth-of-type(2) {
      animation: move .6s ease .5s forwards; }
    .section-1.show .container-fluid > div.second > div:nth-of-type(1) {
      animation: moveReverse .6s ease .5s forwards; }
    .section-1.show .container-fluid > div.second > div:nth-of-type(2) {
      animation: moveReverse .6s ease .3s forwards; }
  @media (max-width: 1430px) {
    .section-1 .container-fluid > div > div.details > a > div.info {
      padding: 15px; } }
  @media (max-width: 1230px) {
    .section-1 .container-fluid > div > div.item-img {
      width: 30%; }
    .section-1 .container-fluid > div > div:nth-of-type(1) {
      padding-right: 5px; }
    .section-1 .container-fluid > div > div:nth-of-type(2) {
      padding-left: 5px; }
    .section-1 .container-fluid > div > div.details > a > div.info small {
      font-size: 16px; }
    .section-1 .container-fluid > div > div.details > a > div.info h3 {
      font-size: 20px;
      line-height: 30px; }
    .section-1 .container-fluid > div > div.details > a > div.info p {
      font-size: 13px; } }
  @media (max-width: 1024px) {
    .section-1 {
      padding: 40px 0; }
      .section-1 .container-fluid > div {
        display: block; }
        .section-1 .container-fluid > div > div {
          display: block;
          width: 100% !important;
          padding: 0 !important; }
          .section-1 .container-fluid > div > div.details > a {
            display: flex;
            flex-direction: column; }
            .section-1 .container-fluid > div > div.details > a > div {
              display: block;
              width: 100% !important; }
              .section-1 .container-fluid > div > div.details > a > div.info {
                padding: 20px 15px 40px; }
                .section-1 .container-fluid > div > div.details > a > div.info small {
                  font-size: 20px; }
                .section-1 .container-fluid > div > div.details > a > div.info h3 {
                  font-size: 26px;
                  line-height: 36px;
                  margin-top: 10px; }
                .section-1 .container-fluid > div > div.details > a > div.info p {
                  font-size: 16px;
                  line-height: 22px;
                  margin-top: 10px; }
              .section-1 .container-fluid > div > div.details > a > div.backdrop {
                position: static; }
                .section-1 .container-fluid > div > div.details > a > div.backdrop > div {
                  display: none; }
                .section-1 .container-fluid > div > div.details > a > div.backdrop > figure img {
                  display: block;
                  width: 100%; }
          .section-1 .container-fluid > div > div ~ div {
            margin-top: 20px; }
        .section-1 .container-fluid > div ~ div {
          margin-top: 20px; }
        .section-1 .container-fluid > div.first > div.details > a {
          display: block; }
        .section-1 .container-fluid > div.second > div.details > a {
          flex-direction: column-reverse; } }

@keyframes heartCute {
  0%, 100% {
    transform: rotate(0deg) scale(1); }
  10% {
    transform: rotate(0deg) scale(1.14); }
  20% {
    transform: rotate(0deg) scale(1); }
  28% {
    transform: rotate(0deg) scale(1.08); }
  38% {
    transform: rotate(0deg) scale(1); }
  48% {
    transform: rotate(-9deg) scale(1.04); }
  58% {
    transform: rotate(8deg) scale(1.04); }
  68% {
    transform: rotate(-5deg) scale(1.02); }
  78% {
    transform: rotate(3deg) scale(1.01); }
  88%, 100% {
    transform: rotate(0deg) scale(1); } }
@keyframes cuteWiggle {
  0%, 55%, 100% {
    transform: rotate(0) scale(1); }
  62% {
    transform: rotate(-10deg) scale(1.04); }
  69% {
    transform: rotate(9deg) scale(1.04); }
  76% {
    transform: rotate(-6deg) scale(1.02); }
  83% {
    transform: rotate(4deg) scale(1.01); }
  90% {
    transform: rotate(0) scale(1); } }
@keyframes swipe {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(-100%); } }
/* cheer-msg */
.cheer-msg {
  padding-top: 55px; }
  .cheer-msg .cheer-header h3 {
    color: #F4BDCB;
    font-size: 74px;
    font-weight: 900;
    letter-spacing: -0.733px; }
    .cheer-msg .cheer-header h3 img {
      position: relative;
      top: -2px;
      display: inline-block;
      vertical-align: middle;
      max-width: 100%;
      animation: heartCute 1.8s ease-in-out infinite; }
  .cheer-msg .msg-list {
    font-size: 0;
    background-color: #F4BDCB; }
    .cheer-msg .msg-list .container-fluid {
      position: relative; }
      .cheer-msg .msg-list .container-fluid > dl {
        display: table;
        width: 100%;
        height: 60px;
        table-layout: fixed; }
        .cheer-msg .msg-list .container-fluid > dl > dt, .cheer-msg .msg-list .container-fluid > dl dd {
          display: table-cell;
          height: 100%;
          vertical-align: middle; }
        .cheer-msg .msg-list .container-fluid > dl dt {
          position: relative;
          z-index: 1;
          width: 55px;
          background-color: #F4BDCB; }
          .cheer-msg .msg-list .container-fluid > dl dt img {
            animation: cuteWiggle 1.6s ease-in-out infinite; }
        .cheer-msg .msg-list .container-fluid > dl > dd {
          position: relative;
          overflow: hidden;
          white-space: nowrap;
          font-size: 0;
          padding-right: 30px; }
          .cheer-msg .msg-list .container-fluid > dl > dd span {
            display: inline-block;
            color: #0B336C;
            font-size: 20px;
            font-weight: 500;
            line-height: 60px;
            letter-spacing: -0.2px;
            animation: swipe 300s linear infinite; }
          .cheer-msg .msg-list .container-fluid > dl > dd:after {
            position: absolute;
            top: 0;
            right: 0;
            width: 45px;
            height: 100%;
            content: '';
            background-color: #F4BDCB; }
      .cheer-msg .msg-list .container-fluid > img {
        position: absolute;
        bottom: 0;
        right: 0px;
        z-index: 1; }
  @media (max-width: 1024px) {
    .cheer-msg .cheer-header {
      padding-top: 0;
      text-align: center; }
      .cheer-msg .cheer-header h3 {
        line-height: 90px; }
    .cheer-msg .msg-list .container-fluid {
      padding: 0; }
      .cheer-msg .msg-list .container-fluid > dl {
        height: 46px; }
        .cheer-msg .msg-list .container-fluid > dl > dt {
          width: 40px; }
          .cheer-msg .msg-list .container-fluid > dl > dt img {
            width: 30px; }
        .cheer-msg .msg-list .container-fluid > dl > dd span {
          font-size: 16px;
          line-height: 46px; }
        .cheer-msg .msg-list .container-fluid > dl > dd:after {
          display: none; } }

/* circle common */
.circle {
  position: relative; }
  .circle:before, .circle:after {
    position: absolute;
    top: 50%;
    content: '';
    z-index: 1;
    width: 34px;
    height: 30px;
    display: block;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: 0 0; }
  .circle:before {
    left: 0;
    background-image: url(../images/main/img_circle_blue_left.png); }
  .circle:after {
    right: 0;
    background-image: url(../images/main/img_circle_blue_right.png); }
  .circle.white:before {
    background-image: url(../images/main/img_circle_white_left.png); }
  .circle.white:after {
    background-image: url(../images/main/img_circle_white_right.png); }
  @media (max-width: 1024px) {
    .circle:before, .circle:after {
      display: none !important; } }

/* section-2 */
.section-2 {
  overflow: hidden;
  position: relative;
  padding: 115px 0;
  background-color: #0B336C; }
  .section-2:before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 50%;
    height: 100%;
    content: '';
    opacity: 0;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 1.3s;
    transition-duration: 1.3s;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    background-image: url(../images/main/bg_section02_first.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: auto auto; }
  .section-2:after {
    position: absolute;
    top: -100%;
    right: 0;
    width: 50%;
    height: 100%;
    content: '';
    opacity: 0;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 1.3s;
    transition-duration: 1.3s;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    background-image: url(../images/main/bg_section02_last.png);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: auto auto; }
  .section-2 .container-fluid {
    position: relative;
    z-index: 1; }
    .section-2 .container-fluid .container {
      max-width: 1160px; }
      .section-2 .container-fluid .container .station-swiper .swiper-wrapper .swiper-slide > a {
        display: table;
        width: 100%;
        height: 100%;
        table-layout: fixed; }
        .section-2 .container-fluid .container .station-swiper .swiper-wrapper .swiper-slide > a > div {
          position: relative;
          left: 40px;
          display: table-cell;
          vertical-align: top;
          height: 100%; }
          .section-2 .container-fluid .container .station-swiper .swiper-wrapper .swiper-slide > a > div.item-img {
            padding-right: 15px;
            opacity: 0;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s; }
            .section-2 .container-fluid .container .station-swiper .swiper-wrapper .swiper-slide > a > div.item-img .backdrop {
              position: relative;
              width: 100%;
              height: 100%; }
              .section-2 .container-fluid .container .station-swiper .swiper-wrapper .swiper-slide > a > div.item-img .backdrop > figure img {
                display: block;
                width: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: 50% 50%; }
          .section-2 .container-fluid .container .station-swiper .swiper-wrapper .swiper-slide > a > div.details {
            padding-left: 15px;
            opacity: 0;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0.6s;
            transition-delay: 0.6s; }
            .section-2 .container-fluid .container .station-swiper .swiper-wrapper .swiper-slide > a > div.details > div {
              position: relative;
              height: 100%;
              padding: 50px 40px 55px;
              background-color: #fff;
              background-image: url(../images/main/bg_station_details.png);
              background-repeat: no-repeat;
              background-position: 100% 50%;
              background-size: auto 100%; }
              .section-2 .container-fluid .container .station-swiper .swiper-wrapper .swiper-slide > a > div.details > div small {
                display: block;
                font-size: 20px;
                color: #003D94;
                font-weight: 600;
                line-height: 36px;
                letter-spacing: -0.6px; }
              .section-2 .container-fluid .container .station-swiper .swiper-wrapper .swiper-slide > a > div.details > div h3 {
                font-size: 32px;
                color: #003D94;
                font-weight: 600;
                line-height: 44px;
                letter-spacing: -0.64px;
                margin-top: 8px; }
              .section-2 .container-fluid .container .station-swiper .swiper-wrapper .swiper-slide > a > div.details > div p {
                position: absolute;
                bottom: 55px;
                left: 40px;
                font-size: 18px;
                font-weight: 400;
                line-height: 25px;
                letter-spacing: -0.36px; }
      .section-2 .container-fluid .container .station-swiper .swiper-wrapper .swiper-slide.swiper-slide-active > a > div {
        left: 0;
        opacity: 1; }
    .section-2 .container-fluid .controls button {
      position: absolute;
      top: 50%;
      display: block;
      transform: translateY(-50%); }
      .section-2 .container-fluid .controls button img {
        display: block;
        max-width: 100%; }
      .section-2 .container-fluid .controls button.station-prev {
        left: 0; }
      .section-2 .container-fluid .controls button.station-next {
        right: 0; }
  .section-2.show:before, .section-2.show:after {
    opacity: 1;
    top: 0; }
  @media (max-width: 1230px) {
    .section-2 .container-fluid .controls button {
      width: 17px; }
      .section-2 .container-fluid .controls button.station-prev {
        left: 10px; }
      .section-2 .container-fluid .controls button.station-next {
        right: 10px; } }
  @media (max-width: 1024px) {
    .section-2 {
      padding: 30px 0 20px; }
      .section-2:before, .section-2:after {
        display: none !important; }
      .section-2 .container-fluid .container {
        padding: 0; }
        .section-2 .container-fluid .container .station-swiper .swiper-wrapper .swiper-slide > a {
          display: block; }
          .section-2 .container-fluid .container .station-swiper .swiper-wrapper .swiper-slide > a > div {
            display: block;
            padding: 0 !important; }
            .section-2 .container-fluid .container .station-swiper .swiper-wrapper .swiper-slide > a > div .backdrop > figure img {
              display: block;
              width: 100%; }
            .section-2 .container-fluid .container .station-swiper .swiper-wrapper .swiper-slide > a > div.details > div {
              padding: 15px 20px 30px;
              background: none;
              background-color: #fff; }
              .section-2 .container-fluid .container .station-swiper .swiper-wrapper .swiper-slide > a > div.details > div h3 {
                font-size: 24px;
                line-height: 34px;
                margin-top: 10px; }
              .section-2 .container-fluid .container .station-swiper .swiper-wrapper .swiper-slide > a > div.details > div p {
                position: static;
                text-overflow: ellipsis;
                overflow: hidden;
                height: 69px;
                font-size: 16px;
                line-height: 23px;
                letter-spacing: -0.32px;
                margin-top: 10px;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical; }
                .section-2 .container-fluid .container .station-swiper .swiper-wrapper .swiper-slide > a > div.details > div p br {
                  display: none; }
      .section-2 .container-fluid .controls {
        display: none; } }

/* section-3 */
.section-3 {
  padding: 120px 0;
  background-color: rgba(0, 61, 148, 0.04); }
  .section-3 .container {
    max-width: 1160px; }
    .section-3 .container > ul {
      display: table;
      width: calc(100% + 30px);
      height: 100%;
      table-layout: fixed;
      margin: 0 -15px; }
      .section-3 .container > ul > li {
        display: table-cell;
        vertical-align: top;
        height: 100%;
        padding: 0 15px; }
        .section-3 .container > ul > li > div {
          position: relative;
          width: 100%;
          height: 100%;
          background-color: #003D94; }
        .section-3 .container > ul > li a {
          position: relative;
          z-index: 1;
          display: block;
          padding: 20px 15px 15px;
          border: 1px solid #E4E4E4;
          background-color: #fff;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
          -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
          .section-3 .container > ul > li a .details small {
            font-size: 20px;
            color: #003D94;
            font-weight: 600;
            line-height: 30px;
            letter-spacing: -0.6px; }
          .section-3 .container > ul > li a .details h3 {
            font-size: 26px;
            color: #000;
            font-weight: 700;
            line-height: 36px;
            letter-spacing: -0.78px;
            margin-top: 10px; }
          .section-3 .container > ul > li a .details p {
            font-size: 18px;
            color: #000;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: -.7px;
            margin-top: 10px; }
          .section-3 .container > ul > li a .item-img {
            margin-top: 50px; }
            .section-3 .container > ul > li a .item-img figure {
              overflow: hidden; }
              .section-3 .container > ul > li a .item-img figure img {
                display: block;
                width: 100%; }
          .section-3 .container > ul > li a:hover {
            border-color: #003D94;
            transform: translate(-20px, -20px); }
  @media (max-width: 1230px) {
    .section-3 .container {
      max-width: 1160px; }
      .section-3 .container > ul {
        width: calc(100% + 16px);
        margin: 0 -8px; }
        .section-3 .container > ul > li {
          padding: 0 8px; }
          .section-3 .container > ul > li a .details small {
            font-size: 16px;
            line-height: 26px; }
          .section-3 .container > ul > li a .details h3 {
            font-size: 22px;
            line-height: 32px; }
          .section-3 .container > ul > li a .details p {
            font-size: 15px;
            line-height: 20px; }
          .section-3 .container > ul > li a:hover {
            transform: translate(-10px, -10px); } }
  @media (max-width: 1024px) {
    .section-3 {
      padding: 60px 0 70px; }
      .section-3 .container > ul {
        display: none; }
      .section-3 .container .lounge-swiper .swiper-wrapper .swiper-slide > a {
        display: block;
        padding: 20px 15px 15px;
        border: 1px solid #E4E4E4;
        background-color: #fff; }
        .section-3 .container .lounge-swiper .swiper-wrapper .swiper-slide > a .details small {
          font-size: 20px;
          color: #003D94;
          font-weight: 600;
          line-height: 30px;
          letter-spacing: -0.6px; }
        .section-3 .container .lounge-swiper .swiper-wrapper .swiper-slide > a .details h3 {
          font-size: 26px;
          color: #000;
          font-weight: 700;
          line-height: 36px;
          letter-spacing: -0.78px;
          margin-top: 10px; }
        .section-3 .container .lounge-swiper .swiper-wrapper .swiper-slide > a .details p {
          font-size: 18px;
          color: #000;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: -.7px;
          margin-top: 10px; }
        .section-3 .container .lounge-swiper .swiper-wrapper .swiper-slide > a .item-img {
          margin-top: 20px; }
          .section-3 .container .lounge-swiper .swiper-wrapper .swiper-slide > a .item-img figure {
            overflow: hidden; }
            .section-3 .container .lounge-swiper .swiper-wrapper .swiper-slide > a .item-img figure img {
              display: block;
              width: 100%; }
      .section-3 .container .lounge-swiper .lounge-pagination {
        text-align: center;
        margin-top: 20px; }
        .section-3 .container .lounge-swiper .lounge-pagination > span {
          background-color: #003D94; } }

/* section-4 */
.section-4 {
  overflow: hidden;
  padding: 100px 0 80px; }
  .section-4 .container-fluid {
    position: relative; }
    .section-4 .container-fluid .etc-swiper .swiper-wrapper .swiper-slide > a .box {
      display: table;
      width: 100%;
      height: 280px;
      table-layout: fixed; }
      .section-4 .container-fluid .etc-swiper .swiper-wrapper .swiper-slide > a .box > div {
        display: table-cell;
        vertical-align: top;
        height: 100%; }
        .section-4 .container-fluid .etc-swiper .swiper-wrapper .swiper-slide > a .box > div.details {
          padding: 25px 30px;
          color: #fff;
          background-color: #003D94; }
          .section-4 .container-fluid .etc-swiper .swiper-wrapper .swiper-slide > a .box > div.details small {
            font-size: 20px;
            font-weight: 600;
            line-height: 30px;
            letter-spacing: -.6px; }
          .section-4 .container-fluid .etc-swiper .swiper-wrapper .swiper-slide > a .box > div.details h3 {
            font-size: 26px;
            font-weight: 400;
            line-height: 36px;
            letter-spacing: -0.78px;
            margin-top: 10px; }
            .section-4 .container-fluid .etc-swiper .swiper-wrapper .swiper-slide > a .box > div.details h3 b {
              font-weight: 700; }
          .section-4 .container-fluid .etc-swiper .swiper-wrapper .swiper-slide > a .box > div.details p {
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: -0.48px;
            margin-top: 10px; }
        .section-4 .container-fluid .etc-swiper .swiper-wrapper .swiper-slide > a .box > div.backdrop {
          overflow: hidden; }
          .section-4 .container-fluid .etc-swiper .swiper-wrapper .swiper-slide > a .box > div.backdrop img {
            display: block;
            width: 100%;
            height: 100%;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover; }
    .section-4 .container-fluid .etc-swiper .swiper-wrapper .swiper-slide > a:hover .box > div.backdrop img {
      transform: scale(1.03); }
    .section-4 .container-fluid .controls .etc-pagination {
      text-align: center;
      margin-top: 40px; }
      .section-4 .container-fluid .controls .etc-pagination span {
        background-color: #003D94; }
    .section-4 .container-fluid .controls button {
      position: absolute;
      top: calc(50% - 28px);
      transform: translateY(-50%); }
      .section-4 .container-fluid .controls button img {
        display: block;
        width: 100%; }
      .section-4 .container-fluid .controls button.etc-prev {
        left: -60px; }
      .section-4 .container-fluid .controls button.etc-next {
        right: -60px; }
  @media (max-width: 1024px) {
    .section-4 {
      padding: 30px 0; }
      .section-4 .container-fluid .etc-swiper .swiper-wrapper .swiper-slide > a .box {
        display: block;
        height: auto; }
        .section-4 .container-fluid .etc-swiper .swiper-wrapper .swiper-slide > a .box > div {
          display: block; }
          .section-4 .container-fluid .etc-swiper .swiper-wrapper .swiper-slide > a .box > div.backdrop img {
            height: auto; }
          .section-4 .container-fluid .etc-swiper .swiper-wrapper .swiper-slide > a .box > div.details {
            padding: 15px 20px 30px; }
            .section-4 .container-fluid .etc-swiper .swiper-wrapper .swiper-slide > a .box > div.details small {
              font-size: 16px; }
            .section-4 .container-fluid .etc-swiper .swiper-wrapper .swiper-slide > a .box > div.details h3 {
              font-size: 24px;
              line-height: 34px; }
            .section-4 .container-fluid .etc-swiper .swiper-wrapper .swiper-slide > a .box > div.details p {
              display: none; }
      .section-4 .container-fluid .controls .etc-pagination {
        margin-top: 15px; }
      .section-4 .container-fluid .controls button {
        display: none; } }

/* event-list */
.event-list {
  padding-bottom: 100px; }
  .event-list .container-fluid > ul {
    display: table;
    width: 100%;
    table-layout: fixed; }
    .event-list .container-fluid > ul > li {
      display: table-cell;
      vertical-align: top; }
      .event-list .container-fluid > ul > li > a {
        display: block; }
        .event-list .container-fluid > ul > li > a figure img {
          display: block;
          width: 100%; }
      .event-list .container-fluid > ul > li:first-child {
        padding-right: 15px; }
      .event-list .container-fluid > ul > li:last-child {
        padding-right: 15px; }
  @media (max-width: 1024px) {
    .event-list {
      padding-bottom: 60px; }
      .event-list .container-fluid > ul {
        display: block; }
        .event-list .container-fluid > ul > li {
          display: block;
          padding: 0 !important; }
          .event-list .container-fluid > ul > li ~ li {
            margin-top: 10px; } }

/*# sourceMappingURL=main.css.map */
