@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url("https://cdn.jsdelivr.net/gh/leetaewook/gmarket-sans-dynamic-subset/GmarketSans.css");
@font-face {
  font-family: 'S-CoreDream';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'S-CoreDream';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: 'S-CoreDream';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'S-CoreDream';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'S-CoreDream';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'S-CoreDream';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'S-CoreDream';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'S-CoreDream';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: 'S-CoreDream';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, etails, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button, hr {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: inherit; }

main, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, hr {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.visible-lg {
  display: block; }
  @media (max-width: 1024px) {
    .visible-lg {
      display: none; } }

.visible-sm {
  display: none; }
  @media (max-width: 1024px) {
    .visible-sm {
      display: block; } }

body {
  min-width: 360px;
  width: 100%;
  font-size: 18px;
  color: #555;
  line-height: 1;
  font-weight: 400;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  letter-spacing: -1px;
  word-break: break-all;
  box-sizing: border-box;
  padding-top: 90px; }
  body *, body *::before, body *::after {
    box-sizing: border-box; }
  @media (max-width: 1024px) {
    body {
      padding-top: 70px; } }

input, select, textarea {
  font-family: inherit;
  outline: none;
  resize: none; }

a, button {
  color: #000;
  border: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  background: none; }
  a:hover, button:hover {
    color: #000; }

.container {
  display: block;
  width: 100%;
  max-width: 1480px;
  padding: 0 20px;
  margin: 0 auto; }
  @media (max-width: 1024px) {
    .container {
      padding: 0; } }

.container-fluid {
  display: block;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto; }

/* header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 20px 0;
  background-color: #fff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1); }
  #header .container {
    position: relative; }
    #header .container .vol {
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%); }
      #header .container .vol img {
        display: block;
        max-width: 100%; }
    #header .container .logo {
      display: block;
      width: 156px;
      font-size: 0;
      margin: 0 auto; }
      #header .container .logo a {
        display: block; }
        #header .container .logo a img {
          display: block;
          max-width: 100%; }
    #header .container .btn-area {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%); }
      #header .container .btn-area .btn-nav {
        display: block;
        cursor: pointer; }
        #header .container .btn-area .btn-nav img {
          display: block;
          max-width: 100%; }
  @media (max-width: 1024px) {
    #header {
      padding: 17.705px 0; }
      #header .container .vol {
        display: none; }
      #header .container .logo {
        width: 108px; }
      #header .container .btn-area {
        right: 20px; } }

/* nav */
#nav {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 12;
  width: 100%;
  height: 100vh;
  max-width: 400px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: esae-out;
  transition-timing-function: esae-out;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  background-color: #fff; }
  #nav .nav-head {
    position: relative;
    height: 90px; }
    #nav .nav-head .logo {
      display: none; }
      #nav .nav-head .logo img {
        display: block;
        max-width: 100%; }
    #nav .nav-head .btn-area {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%); }
      #nav .nav-head .btn-area .btn-nav-close {
        display: block;
        cursor: pointer; }
        #nav .nav-head .btn-area .btn-nav-close img {
          display: block;
          max-width: 100%; }
  #nav .nav-body {
    position: relative;
    overflow-y: auto;
    height: calc(100vh - 90px);
    padding: 0 20px 60px; }
    #nav .nav-body > ul > li {
      border-bottom: 1px solid #DDE2E8; }
      #nav .nav-body > ul > li:last-child {
        border-bottom: 0; }
      #nav .nav-body > ul > li > a {
        position: relative;
        display: block;
        font-size: 18px;
        font-weight: 400;
        color: #3B5B80;
        line-height: 50px;
        font-family: 'Gmarket Sans'; }
      #nav .nav-body > ul > li > ul {
        display: none;
        padding-left: 10px; }
        #nav .nav-body > ul > li > ul > li > a {
          display: block;
          font-size: 14px;
          color: #3B5B80;
          font-weight: 500;
          line-height: 30px; }
        #nav .nav-body > ul > li > ul > li:last-child {
          padding-bottom: 10px; }
      #nav .nav-body > ul > li.has-child > a:after {
        position: absolute;
        top: 50%;
        right: 15px;
        font-size: 14px;
        font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
        content: '▼';
        transform: translateY(-50%);
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
      #nav .nav-body > ul > li.has-child.active > a:after {
        transform: translateY(-50%) rotate(180deg); }
  #nav .copyright {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    display: block;
    font-size: 12px;
    font-weight: 400;
    color: #B1B1B1;
    text-align: center; }
  @media (max-width: 1024px) {
    #nav .nav-head {
      height: 70px;
      padding-top: 22px; }
      #nav .nav-head .logo {
        display: block;
        width: 90px;
        margin: 0 auto; }
    #nav .nav-body {
      height: calc(100vh - 70px); } }

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  display: none;
  background-color: rgba(0, 0, 0, 0.6); }

body.opened #nav {
  right: 0; }
body.opened .backdrop {
  display: block; }

/* footer */
#footer {
  padding: 70px 0;
  background-color: #424242; }
  #footer .container img {
    width: 100%;
    margin: 0 auto; }
  @media (max-width: 1024px) {
    #footer {
      padding: 0; }
      #footer .container img {
        width: auto;
        height: 390px; } }

/*# sourceMappingURL=default.css.map */
