@import 'common';

#content {
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 50% 50%;
    img {
        max-width: 100%;
        margin: 0 auto;
    }
    @media(max-width: $md) {
        img {
            max-width: 100%;
            width: 100%;
        }
    }
}