@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url("https://cdn.jsdelivr.net/gh/leetaewook/gmarket-sans-dynamic-subset/GmarketSans.css");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, etails, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button, hr {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: inherit; }

main, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, hr {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.visible-sm {
  display: none !important; }
  @media (max-width: 1024px) {
    .visible-sm {
      display: block !important; } }

.visible-lg {
  display: block !important; }
  @media (max-width: 1024px) {
    .visible-lg {
      display: none !important; } }

body {
  min-width: 360px;
  width: 100%;
  font-size: 16px;
  color: #555;
  line-height: 1;
  font-weight: 400;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  letter-spacing: -1px;
  word-break: break-all;
  box-sizing: border-box; }
  body *, body *::before, body *::after {
    box-sizing: border-box; }

input, select, textarea {
  font-family: inherit;
  outline: none;
  resize: none; }

a, button {
  color: #000;
  border: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  background: none; }
  a:hover, button:hover {
    color: #000; }

.container {
  display: block;
  width: 100%;
  max-width: 1430px;
  padding: 0 15px;
  margin: 0 auto; }

.container-fluid {
  display: block;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto; }

body {
  padding-top: 70px !important; }
  @media (max-width: 1024px) {
    body {
      padding-top: 64px !important; } }

.on {
  color: #084164; }

.off {
  color: #523834; }

/* header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  padding: 20px 0;
  background-color: #fff;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }
  #header .container {
    position: relative; }
    #header .container .logo {
      display: block;
      width: 145px;
      font-size: 0;
      margin: 0 auto; }
      #header .container .logo > a {
        display: block; }
        #header .container .logo > a img {
          display: block;
          width: 100%; }
    #header .container .vol {
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%); }
      #header .container .vol img {
        display: block;
        max-width: 100%; }
    #header .container .btn-area {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%); }
      #header .container .btn-area .btn-nav {
        display: block; }
        #header .container .btn-area .btn-nav img {
          display: block;
          max-width: 100%; }
  @media (max-width: 1024px) {
    #header .container .logo {
      width: 116px;
      margin: 0; }
    #header .container .vol {
      display: none; }
    #header .container .btn-area .btn-nav {
      width: 26px; } }

/* #nav */
#nav {
  position: fixed;
  top: 0;
  /*right: 0;*/
  right: -100%;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  z-index: 10;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  background-color: #fff; }
  #nav .container-fluid {
    display: table;
    width: 100%;
    padding: 0;
    table-layout: fixed;
    height: 100vh;
    min-height: 900px; }
    #nav .container-fluid > div {
      display: table-cell;
      height: 100%;
      vertical-align: middle; }
      #nav .container-fluid > div.backdrop {
        width: 660px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover; }
      #nav .container-fluid > div.nav-wrap {
        position: relative;
        padding: 0 70px; }
        #nav .container-fluid > div.nav-wrap .btn-area {
          position: absolute;
          top: 45px;
          right: 70px;
          z-index: 1; }
          #nav .container-fluid > div.nav-wrap .btn-area .btn-nav-close {
            display: block; }
            #nav .container-fluid > div.nav-wrap .btn-area .btn-nav-close img {
              display: block;
              max-width: 100%; }
        #nav .container-fluid > div.nav-wrap .nav-list > div strong {
          font-size: 32px;
          font-weight: bold; }
        #nav .container-fluid > div.nav-wrap .nav-list > div ~ div {
          margin-top: 80px; }
        #nav .container-fluid > div.nav-wrap .nav-list > div > ul {
          margin-top: 30px; }
          #nav .container-fluid > div.nav-wrap .nav-list > div > ul > li > a {
            display: inline-block;
            vertical-align: top; }
            #nav .container-fluid > div.nav-wrap .nav-list > div > ul > li > a > dl {
              font-size: 0; }
              #nav .container-fluid > div.nav-wrap .nav-list > div > ul > li > a > dl dt, #nav .container-fluid > div.nav-wrap .nav-list > div > ul > li > a > dl dd {
                display: inline-block;
                font-size: 18px;
                vertical-align: top; }
              #nav .container-fluid > div.nav-wrap .nav-list > div > ul > li > a > dl dt {
                width: 170px;
                font-weight: 500;
                color: #949494; }
              #nav .container-fluid > div.nav-wrap .nav-list > div > ul > li > a > dl dd {
                color: #121221; }
          #nav .container-fluid > div.nav-wrap .nav-list > div > ul > li ~ li {
            margin-top: 20px; }
  @media (max-width: 1400px) {
    #nav .container-fluid > div.backdrop {
      display: none; }
    #nav .container-fluid > div.nav-wrap {
      text-align: center; }
      #nav .container-fluid > div.nav-wrap .nav-list {
        display: inline-block;
        text-align: left; } }
  @media (max-width: 1024px) {
    #nav .container-fluid {
      min-height: auto; }
      #nav .container-fluid > div {
        display: block; }
        #nav .container-fluid > div.nav-wrap {
          position: relative;
          display: block;
          height: 100vh;
          overflow-y: auto;
          padding: 60px 15px; }
          #nav .container-fluid > div.nav-wrap .btn-area {
            top: 20px;
            right: 20px; }
            #nav .container-fluid > div.nav-wrap .btn-area .btn-nav-close {
              width: 30px; }
          #nav .container-fluid > div.nav-wrap .nav-list {
            display: block; }
            #nav .container-fluid > div.nav-wrap .nav-list > div strong {
              font-size: 22px; }
            #nav .container-fluid > div.nav-wrap .nav-list > div > ul {
              margin-top: 20px; }
              #nav .container-fluid > div.nav-wrap .nav-list > div > ul > li {
                padding-bottom: 10px; }
                #nav .container-fluid > div.nav-wrap .nav-list > div > ul > li > a > dl {
                  display: block; }
                  #nav .container-fluid > div.nav-wrap .nav-list > div > ul > li > a > dl dt, #nav .container-fluid > div.nav-wrap .nav-list > div > ul > li > a > dl dd {
                    display: block;
                    font-size: 16px;
                    line-height: 24px;
                    width: 100% !important; }
                #nav .container-fluid > div.nav-wrap .nav-list > div > ul > li ~ li {
                  margin-top: 0;
                  padding-top: 10px;
                  border-top: 1px solid #E8E8E8; }
                #nav .container-fluid > div.nav-wrap .nav-list > div > ul > li:last-child {
                  padding-bottom: 0; }
            #nav .container-fluid > div.nav-wrap .nav-list > div ~ div {
              margin-top: 40px; } }

body.opened {
  overflow: hidden; }
  body.opened #nav {
    right: 0; }
body.scrolled #header {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1); }

#footer {
  font-size: 0;
  background-color: #424242; }
  #footer .container img {
    max-width: 100%;
    margin: 0 auto; }
  @media (max-width: 1024px) {
    #footer .container {
      padding: 0; } }

/* quick-area */
.quick-area {
  position: fixed;
  top: 50%;
  right: 50px;
  z-index: 9;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  transform: translateY(-50%); }
  .quick-area > ul {
    width: 60px;
    padding: 5px;
    text-align: center;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.2); }
    .quick-area > ul > li > a {
      display: table;
      width: 100%;
      height: 50px;
      border-radius: 50%;
      box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
      background-color: rgba(255, 255, 255, 0.9); }
      .quick-area > ul > li > a span {
        font-size: 20px;
        color: #828282;
        font-weight: 400;
        display: table-cell;
        vertical-align: middle;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
      .quick-area > ul > li > a small {
        font-size: 15px;
        line-height: 15px;
        color: #828282;
        font-weight: 400;
        display: table-cell;
        vertical-align: middle;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
    .quick-area > ul > li ~ li {
      margin-top: 5px; }
    .quick-area > ul > li.active > a span {
      font-weight: bold; }
    .quick-area > ul > li.active > a small {
      font-weight: bold; }
    .quick-area > ul > li:nth-of-type(1).active > a {
      background-color: #D5FF00; }
      .quick-area > ul > li:nth-of-type(1).active > a span {
        color: #004345; }
    .quick-area > ul > li:nth-of-type(2).active > a {
      background-color: #fff; }
      .quick-area > ul > li:nth-of-type(2).active > a small {
        color: #2C2C2C; }
    .quick-area > ul > li:nth-of-type(3).active > a {
      background-color: #F9B5BB; }
      .quick-area > ul > li:nth-of-type(3).active > a span {
        color: #004345; }
  @media (max-width: 1660px) {
    .quick-area {
      right: 15px; } }
  @media (max-width: 1024px) {
    .quick-area {
      top: auto;
      bottom: 75px;
      right: 10px;
      transform: none; }
      .quick-area > ul {
        width: 40px;
        padding: 3px; }
        .quick-area > ul > li > a {
          height: 34px; }
          .quick-area > ul > li > a span {
            font-size: 15px; }
          .quick-area > ul > li > a small {
            font-size: 12px;
            line-height: 10px; }
        .quick-area > ul > li ~ li {
          margin-top: 3px; }
      .quick-area.active {
        bottom: 400px; } }

/* quick-top */
.quick-top {
  position: fixed;
  bottom: 30px;
  right: 50px;
  z-index: 9;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }
  .quick-top .btn-top {
    display: block;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #000;
    background-image: url(../images/ico_top.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto auto;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }
    .quick-top .btn-top:hover {
      background-color: #0045C9; }
  .quick-top.active {
    bottom: 320px; }
  @media (max-width: 1660px) {
    .quick-top {
      right: 15px; } }
  @media (max-width: 1024px) {
    .quick-top {
      right: 10px;
      bottom: 20px; }
      .quick-top .btn-top {
        width: 40px;
        height: 40px;
        background-size: auto 17px; }
      .quick-top.active {
        bottom: 353px; } }

/*# sourceMappingURL=default.css.map */
